mixin social(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +social('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-social--' + modsList[i].trim();
      }
    }


  .s-social(class=allMods)&attributes(attributes)
    ul.s-social__list
      li.s-social__item
        a.s-social__link(href='/', title='/', target='_blank', rel='noopener')
          +svg-icon('instagram', 26, 26)
      li.s-social__item
        a.s-social__link(href='/', title='/', target='_blank', rel='noopener')
          +svg-icon('vkontakte', 26, 26)
      li.s-social__item
        a.s-social__link(href='/', title='/', target='_blank', rel='noopener')
          +svg-icon('facebook', 26, 26)