.s-social {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-left: 14px;
  }

  &__link {
    color: currentColor;
    display: block;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: currentColor;
    transition: $transition;

    svg {
      fill: currentColor;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: darken(#e2e4e6, 10%);
    }
  }

  @at-root .s-page-header {

    .s-social__link {
      background-color: rgba(#9cb3c1, 0.2);
      width: 46px;
      height: 46px;
      border-radius: 46px;
      color: $primary-color;

      &:hover,
      &:focus {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  @at-root .s-page-header--bg-transparent {

    .s-social__link {
      background-color: #628fbe;
      color: #fff;

      &:hover,
      &:focus {
        background-color: lighten(#628fbe, 5%);
        box-shadow: $box-shadow;
      }
    }
  }
}