mixin modal()

  #exampleModal.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content.s-modal__content
        .container
          .row
            .col-12.col-md-10.offset-md-1
              h5.s-section-title#exampleModalLabel Оставьте свои контакты и мы свяжемся с вами
              .row
                .col-12
                  +field-text({
                    title: 'Ваше имя',
                    attrs: {
                      placeholder: '',
                      type: 'text',
                      id: 'name'
                    }
                  })(for='name')
                .col-12.col-md-6
                  +field-text({
                    title: 'Email',
                    attrs: {
                      placeholder: '',
                      type: 'mail',
                      id: 'mail'
                    }
                  })(for='email')
                .col-12.col-md-6
                  +field-text({
                    title: 'Телефон',
                    attrs: {
                      placeholder: '',
                      type: 'tel',
                      id: 'tel'
                    }
                  })(for='phone')
                .col-12
                  +field-text({
                    title: 'Комментарий',
                    isTextarea: true,
                    attrs: {
                      placeholder: '',
                      id: 'question'
                    }
                  })(for='question')
                .col-12
                  +field-actions()
                    +btn('Оправить')

        button.s-modal__close.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', width='24', height='24')
              path(fill-rule='evenodd', d='M.93934.93934c.58579-.585787 1.53553-.585787 2.12132 0L23.0606 20.9393c.5858.5858.5858 1.5355 0 2.1213-.5858.5858-1.5355.5858-2.1213 0L.93934 3.06066c-.585787-.58579-.585787-1.53553 0-2.12132z', clip-rule='evenodd')
              path(fill-rule='evenodd', d='M.93934 23.0607c-.585787-.5858-.585787-1.5356 0-2.1214L20.9393.9394c.5858-.585786 1.5355-.585787 2.1213 0 .5858.58579.5858 1.53553 0 2.12132L3.06066 23.0607c-.58579.5857-1.53553.5857-2.12132 0z', clip-rule='evenodd')

