.s-modal {

  &__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}