.s-main-nav {
  position: relative;
  line-height: 20px;
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
  }

  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > li {
      position: relative;
      display: flex;
      flex-flow: row wrap;

      &:hover,
      &:focus,
      &:focus-within {

        > a {
          text-decoration: none;
        }

        > a,
        span {

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }

        > ul {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }

      > a,
      span,
      button {
        display: block;
        pointer-events: auto;
        padding: 30px 10px;
        font-size: 16px;
        color: currentColor;
        position: relative;
        transition: all 0.5s cubic-bezier(0.6, 0, 0, 1);

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: -10px;
          height: 3px;
          width: calc(100% + 20px);
          background-color: $primary-color;
          transform: scaleY(0);
          transition: all 0.125s cubic-bezier(0.6, 0, 0, 1);
          transform-origin: right center;
        }

        &:hover,
        &:focus {
          color: $primary-color;

          &::after {
            transform: scaleY(1);
            transform-origin: left center;
          }
        }
      }

      > span {
        cursor: default;
      }

      > ul {
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        min-width: 200px;
        left: -10px;
        top: 100%;
        border-radius: 0 0 10px 10px;
        background-color: #fff;
        overflow: hidden;
        z-index: 200;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus,
        &:focus-within {
          visibility: visible;
          opacity: 1;
          display: block;
        }

        > li {

          > a {
            display: block;
            font-size: 15px;
            padding: 10px 16px 10px 20px;
            color: $text-color;

            &:hover,
            &:focus {
              text-decoration: none;
              background-color: #eee;
            }
          }
        }
      }
    }
  }
}
