.s-testimonials {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $bg-color--shade;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    margin: 0;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }
}