.s-blog-item {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__data-list {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    list-style: none;

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 1.5rem 0;
    }
  }

  &__data-item {
    margin: 0;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-xs) {
      margin-bottom: 0;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  &__date {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $primary-color--variant;

    @media only screen and (min-width: $screen-xs) {
      margin-left: 2rem;
    }
  }

  &__image-wrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}