mixin writers-blog-card(title, image, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +blog-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-writers-blog-card--' + modsList[i].trim();
      }
    }

  article.s-writers-blog-card(class=allMods)&attributes(attributes)
    .s-writers-blog-card__intro
      a.s-writers-blog-card__title(href='/', title='/') #{title}
      p.s-writers-blog-card__desc Сад с лесным массивом - это участок, большую часть которого занимает лес и лишь 1/3 занимает благоустроенная часть участка. Главное задачей было создать ухоженную и аккуратную зону в короткие сроки, именно поэтому выбрали рулонный газон. Укладку газона и подготовку основания выполняла компания-производитель газона.
    a.s-writers-blog-card__cover(href='/')
      img(src=image, alt='/', title='/', width='320', height='210')
    .s-writers-blog-card__info
      +blog-data()
      time.s-writers-blog-card__date(datetime='2020-01-12') 10 января 2019