.s-writers-blog-card {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;

  &:hover {

    .s-writers-blog-card__cover img {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 28px;
    line-height: 32px;
    color: $text-color;
    font-weight: 300;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__cover {
    width: 100%;
    height: 240px;
    display: block;
    overflow: hidden;

    @media only screen and (min-width: $screen-sm) {
      height: 380px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition--more;
      transform-origin: center center;
      will-change: transform;
    }
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__date {
    font-size: 16px;
    line-height: 20px;
    color: $primary-color--variant;
  }
}