.s-about-company {
  position: relative;

  @media only screen and (min-width: $screen-lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__inner {
    position: relative;
  }

  &__cover {
    height: 300px;
    margin-bottom: 25px;

    @media only screen and (min-width: $screen-lg) {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(50% - 15px);
      height: 100%;
      margin-bottom: 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}