.s-news {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0;
    margin-bottom: 1rem;
  }
}