.s-news-card {
  display: flex;
  flex-flow: column wrap;
  height: 100%;

  &__cover {
    width: 100%;
    height: 210px;
    display: block;
    overflow: hidden;

    &:hover,
    &:focus {

      img {
        transform: scale(1.1);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition--more;
      transform-origin: center center;
      will-change: transform;
    }
  }

  &__title {
    color: $primary-color;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: block;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $primary-color--darken;
    }
  }

  &__intro {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
  }

  &__date {
    display: block;
    color: $primary-color--variant;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 0.75rem;
    margin-top: auto;
  }
}