mixin news-card(title, desc, image, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +news-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-new-card--' + modsList[i].trim();
      }
    }

  article.s-news-card(class=allMods)&attributes(attributes)
    a.s-news-card__cover(href='/')
      img(src=image, alt='/', title='/', width='320', height='210')
    a.s-news-card__title(href='/') #{title}
    p.s-news-card__intro #{desc}
    time.s-news-card__date(datetime='2020-01-12') 12 января