.s-faq {
  background-color: $bg-color--shade;

  &__question {
    font-size: 18px;
    line-height: 26px;
    padding: 16px 1.5rem 18px 0;
    display: block;
    width: 100%;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    transition: all $transition;

    @media only screen and (min-width: $screen-md) {
      padding: 16px 1.5rem 18px;
    }

    &[aria-expanded='false'] {
      color: $primary-color;
    }

    &[aria-expanded='true'] {
      color: $text-color;

      svg {
        opacity: 0.3;
        transform: rotate3d(0, 0, 1, 270deg);
      }
    }

    span {
      display: block;
      max-width: 80%;
    }

    svg {
      display: inline-block;
      margin-left: auto;
      transform: rotate3d(0,0,1,90deg);
      fill: $primary-color;
      transition: all 0.5s cubic-bezier(0.8, 0, 0, 1.5);
    }

    &:hover,
    &:focus {
      color: $text-color;
    }
  }

  &__answer {
    padding: 1rem 0;

    @media only screen and (min-width: $screen-md) {
      padding: 1rem 3rem;
    }
  }
}