mixin pagination(mods)

  //- Param:
    mods {string} - modifiers

  //- Use:
    +pagination()
      +pagination-item('1', '/1')
      +pagination-item('...')
      +pagination-item('4', '/4')
      +pagination-item('5', '/5', true)
      +pagination-item('6', '/6')
      +pagination-item('...')
      +pagination-item('999', '/999')

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-pagination--' + modsList[i].trim();
      }
    }

  .s-pagination(class=allMods, aria-label='Page navigation')&attributes(attributes)
    ul.s-pagination__list
      block



mixin pagination-item(text, href, active, mods)


  //- Declaration:
  //-   text   {string} - text
  //-   href   {string} - link
  //-   mods   {string} - modifiers
  //-   active {bool}   - active

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-pagination__item--' + modsList[i].trim();
      }
    }

    if(typeof(active) !== 'undefined' && active) {
      allMods = allMods + 's-pagination__item--active';
    }

  if(typeof(href) !== 'undefined' && href)
    li.s-pagination__item(class=allMods)
      a(href=href)&attributes(attributes)!= text

  else
    li.s-pagination__item(class=allMods)
      span&attributes(attributes)!= text


mixin pagination-item-prev(href)

  li.s-pagination__item.s-pagination__item--prev
    a(href=href)
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 18', width='40', height='18')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M39.5714 7.90904c.5715.60252.5715 1.5794 0 2.18196l-7.0732 7.4571c-.5715.6025-1.4981.6025-2.0696 0-.5715-.6025-.5715-1.5794 0-2.1819L36.467 9l-6.0384-6.36618c-.5715-.60252-.5715-1.5794 0-2.181928.5715-.602523 1.4981-.602523 2.0696 0l7.0732 7.457148zM28 9c0 .82843-.6716 1.5-1.5 1.5h-25C.671574 10.5 0 9.82843 0 9s.671574-1.5 1.5-1.5h25c.8284 0 1.5.67157 1.5 1.5z')

mixin pagination-item-next(href)

  li.s-pagination__item.s-pagination__item--next
    a(href=href)
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 18', width='40', height='18')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M39.5714 7.90904c.5715.60252.5715 1.5794 0 2.18196l-7.0732 7.4571c-.5715.6025-1.4981.6025-2.0696 0-.5715-.6025-.5715-1.5794 0-2.1819L36.467 9l-6.0384-6.36618c-.5715-.60252-.5715-1.5794 0-2.181928.5715-.602523 1.4981-.602523 2.0696 0l7.0732 7.457148zM28 9c0 .82843-.6716 1.5-1.5 1.5h-25C.671574 10.5 0 9.82843 0 9s.671574-1.5 1.5-1.5h25c.8284 0 1.5.67157 1.5 1.5z')
