.s-pagination {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $border-color;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: inline-block;
    margin: 0;
    text-align: center;
    float: left;
    vertical-align: bottom;
    margin: 0 0.5rem;

    a,
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 30px;
      color: $primary-color;
      font-weight: 700;

      @media (min-width: $screen-sm) {
        min-width: 1rem;
      }
    }

    &:not(.s-pagination__item--active):hover {

      a {
        background-color: transparent;
        border-color: $primary-color;
        text-decoration: none;
        color: $text-color;
      }
    }

    &--active {

      a,
      span {
        color: $text-color;
        text-decoration: none;
      }
    }

    &--prev,
    &--next {

      a {
        position: relative;

        &:hover,
        &:focus {

          svg {
            fill: $primary-color--darken;
          }
        }

        &::after {
          position: absolute;
          content: '';
          top: -0.75rem;
          right: -0.75rem;
          bottom: -0.75rem;
          left: -0.75rem;
        }
      }

      svg {
        fill: $primary-color;
        transition: all $transition;
      }
    }

    &--prev {
      margin-right: 3rem;

      @media only screen and (max-width: ($screen-xs - 1)) {
        margin-right: 1.5rem;
      }

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }

    &--next {
      margin-left: 3rem;

      @media only screen and (max-width: ($screen-xs - 1)) {
        margin-left: 1.5rem;
      }
    }
  }
}