.s-breadcrumb {
  margin-bottom: 2rem;

  @media only screen and (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 0.5rem;
    white-space: nowrap;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.5rem;
      opacity: 0.25;
    }
  }

  a {
    color: $primary-color--variant;
    text-decoration: none;
    position: relative;
    transition: $transition;

    &::after {
      content: '';
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.25s cubic-bezier(0.6, 0, 0, 1);
      transform-origin: left center;
    }

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }

  span {
    cursor: default;
    color: #c4c4c4;
  }
}