.s-page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  color: $text-color;
  z-index: 100;
  border-bottom: 1px solid $text-color;

  @media only screen and (max-width: ($screen-lg - 1)) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: ($screen-sm - 1)) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &__logo {

    img {

      @media only screen and (max-width: ($screen-sm - 1)) {
        width: 160px;
        height: 45px;
      }
    }
  }

  &__nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: auto;
    z-index: 1;

    @media only screen and (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  &__social {

    @media only screen and (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  &__search-form {
    z-index: 20;
    position: relative;
    display: flex;
    width: 46px;
    height: 46px;

    @media only screen and (max-width: ($screen-lg - 1)) {
      display: none;
    }

    label {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s cubic-bezier(0.6, 0, 0, 1);
      background-color: #ebf0f2;
      border-radius: 100px;

      &::after {
        position: absolute;
        content: '';
        top: -19px;
        bottom: -19px;
        right: 0;
        left: -10px;
      }

      &.open {
        width: 690px;

        input {
          padding: 14px 4rem 16px 1.5rem;
        }
      }
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: 0;
      border-radius: 100px;
      color: $text-color;
      outline: 0;
      font-size: 16px;
      line-height: 20px;
      z-index: 1;
      transition: all 0.5s cubic-bezier(0.6, 0, 0, 1);
    }

    button {
      background-color: inherit;
      display: inline-block;
      vertical-align: middle;
      color: currentColor;
      padding: 0;
      margin-left: auto;
      padding: 11px;
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      height: 46px;
      width: 46px;
      border-radius: 100px;
      outline: 0;
      border: 0;
      cursor: pointer;

      &:hover,
      &:focus {
        color: currentColor;
        opacity: 1;
      }

      svg {
        fill: $primary-color;
        display: block;
      }
    }
  }

  &__hamburger {

    @media only screen and (min-width: $screen-lg) {
      display: none;
    }
  }

  &--bg-transparent {
    border-bottom: 1px solid rgba(#fff, 0.2);
    background-color: transparent;
    color: #fff;
    position: absolute;

    .s-main-nav {

      > ul {

        > li {

          > a,
          span,
          button {

            &::after {
              background-color: #fff;
            }

            &:hover,
            &:focus {
              color: #fff;

              &::after {
                transform: scaleY(1);
                transform-origin: left center;
              }
            }
          }
        }
      }
    }

    .s-page-header__search-form {

      label {
        background-color: #628fbe;
      }

      input {
        color: #fff;
      }

      button {

        svg {
          fill: #fff;
        }
      }
    }
  }
}