mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  if mods === 'bg-transparent'
    header.s-page-header(class=allMods, role='banner')&attributes(attributes)
      .container.s-page-header__inner

        +logo(false).s-page-header__logo
          img(src='img/logo--light.svg', alt='/', title='/', width='211', height='60')

        nav.s-main-nav.s-page-header__nav
          ul
            li
              span(aria-haspopup='true', tabindex='0') Услуги
              ul(aria-label='submenu')
                li: a(href='architecture.html') Архитектура
                li: a(href='interiors.html') Дизайн интерьеров
                li: a(href='landscape.html') Ландшафтный дизайн
                li: a(href='decoration.html') Декорирование
                li: a(href='consultation.html') Консультации
            li: a(href='projects.html') Проекты
            li
              a(href='about-company.html', aria-haspopup='true') О компании
              ul(aria-label='submenu')
                li: a(href='blogs.html') Блоги
                li: a(href='testimonials.html') Отзывы
                li: a(href='/') Партнеры
            li: a(href='news.html') Новости
            li: a(href='faq.html') FAQ
            li: a(href='/') Контакты
            li: button(type='button', data-toggle='modal', data-target='#exampleModal') Обратная связь


        form.s-page-header__search-form
          label
            input(type='text')
            button(type='reset')
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24', width='24', height='24')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M0 10.5C0 16.29 4.71221 21 10.5049 21c2.3597 0 4.5401-.7816 6.2957-2.0994.0429.0573.0904.1123.1425.1644l4.5021 4.5c.3002.285.6753.435 1.0655.435.3902 0 .7654-.15 1.0505-.435.5853-.585.5853-1.53 0-2.115l-4.5021-4.5c-.0514-.0514-.1056-.0983-.1621-.1406 1.3259-1.7577 2.1128-3.9434 2.1128-6.3094 0-5.79001-4.7122-10.5-10.5049-10.5C4.71221 0 0 4.70999 0 10.5zm3.00141 0c0-4.14001 3.36157-7.50001 7.50349-7.50001 4.142 0 7.5035 3.36 7.5035 7.50001 0 4.14-3.3615 7.5-7.5035 7.5-4.14192 0-7.50349-3.36-7.50349-7.5z')

        +social().s-page-header__social
        +hamburger().s-page-header__hamburger

  else
    header.s-page-header(class=allMods, role='banner')&attributes(attributes)
      .container.s-page-header__inner

        +logo('/index.html').s-page-header__logo
          img(src='img/logo.svg', alt='/', title='/', width='211', height='60')

        nav.s-main-nav.s-page-header__nav
          ul
            li
              span(aria-haspopup='true', tabindex='0') Услуги
              ul(aria-label='submenu')
                li: a(href='architecture.html') Архитектура
                li: a(href='interiors.html') Дизайн интерьеров
                li: a(href='landscape.html') Ландшафтный дизайн
                li: a(href='decoration.html') Декорирование
                li: a(href='consultation.html') Консультации
            li: a(href='projects.html') Проекты
            li
              a(href='about-company.html', aria-haspopup='true') О компании
              ul(aria-label='submenu')
                li: a(href='blogs.html') Блоги
                li: a(href='testimonials.html') Отзывы
                li: a(href='/') Партнеры
            li: a(href='news.html') Новости
            li: a(href='faq.html') FAQ
            li: a(href='/') Контакты
            li: button(type='button', data-toggle='modal', data-target='#exampleModal') Обратная связь

        form.s-page-header__search-form
          label
            input(type='text')
            button(type='reset')
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24', width='24', height='24')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M0 10.5C0 16.29 4.71221 21 10.5049 21c2.3597 0 4.5401-.7816 6.2957-2.0994.0429.0573.0904.1123.1425.1644l4.5021 4.5c.3002.285.6753.435 1.0655.435.3902 0 .7654-.15 1.0505-.435.5853-.585.5853-1.53 0-2.115l-4.5021-4.5c-.0514-.0514-.1056-.0983-.1621-.1406 1.3259-1.7577 2.1128-3.9434 2.1128-6.3094 0-5.79001-4.7122-10.5-10.5049-10.5C4.71221 0 0 4.70999 0 10.5zm3.00141 0c0-4.14001 3.36157-7.50001 7.50349-7.50001 4.142 0 7.5035 3.36 7.5035 7.50001 0 4.14-3.3615 7.5-7.5035 7.5-4.14192 0-7.50349-3.36-7.50349-7.5z')

        +social().s-page-header__social
        +hamburger().s-page-header__hamburger