.s-promo-testimonials {
  background-color: $bg-color--shade;

  &__header {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 0;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }
}