mixin promo-testimonials()

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +promo-testimonials('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-promo-testimonials' + modsList[i].trim();
      }
    }

  section.s-promo-testimonials.s-section(class=allMods)&attributes(attributes)
    .container
      .s-promo-testimonials__header
        .row.align-items-end
          .col-12.col-sm
            h2.s-promo-testimonials__title.s-section-title Отзывы
          .col-12.col-sm-auto
            +go-to('Посмотреть все отзывы')
      .s-promo-testimonials__list.row
        .s-promo-testimonials__item.col-12.col-lg-4
          +testimonial()
        .s-promo-testimonials__item.col-12.col-lg-4
          +testimonial()
        .s-promo-testimonials__item.col-12.col-lg-4
          +testimonial()

