mixin go-to(text, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +go-to('Blog', 'mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-go-to' + modsList[i].trim();
      }
    }


  a.s-go-to(href='/', title='/', class=allMods)&attributes(attributes)
    span #{text}
    +svg-icon('arrow-small', 10, 17)