.s-go-to {
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  transition: all $transition;
  color: $primary-color;

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
    transform: translate3d(-1px,0,0);
    fill: currentColor;
    transition: transform $transition;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary-color--darken;

    svg {
      transform: translate3d(4px,0,0);
    }
  }
}