.s-price {
  background-color: $bg-color;

  &__table {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-xs) {
      margin-bottom: 1.5rem;
    }

    table {
      border-top: 2px solid #9cb3c1;
      width: 100%;

      td {
        border-bottom: 1px solid rgba(#9cb3c1, 0.3);
        font-size: 18px;
        line-height: 24px;
        padding-top: 17px;
        padding-bottom: 19px;

        @media only screen and (max-width: ($screen-sm - 1)) {
          font-size: 14px;
          line-height: 20px;
          padding-top: 0.9rem;
          padding-bottom: 1.1rem;
        }

        &:not(:last-child) {
          padding-right: 2rem;
        }

        &:last-child {
          white-space: nowrap;
        }
      }
    }
  }

  &__actions {
    display: inline-block;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-xs) {
      margin-bottom: 2rem;
    }

    .s-btn {
      white-space: normal;
    }
  }

  &__project-examples {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-xs) {
      margin-bottom: 2rem;
    }

    a {

      @media only screen and (max-width: ($screen-xs - 1)) {
        width: 100%;
        position: relative;
        display: inline-block;
        background-color: transparent;
        background-image: none;
        color: $primary-color;
        margin: 0;
        padding: 15px 20px 17px;
        border: 1px solid $primary-color;
        border-radius: $border-radius;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        vertical-align: middle;
        cursor: pointer;
        touch-action: manipulation;
        user-select: none;
        overflow: hidden;
        box-sizing: border-box;
        white-space: nowrap;
        z-index: 1;
        margin-bottom: 0.5rem;
      }

      @media only screen and (min-width: $screen-xs) {
        display: inline-block;
        margin-right: 2rem;
        font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
        color: $primary-color;
        font-weight: 300;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  &__important-info {
    background-color: $bg-color--shade;
    color: #4c6e83;
    padding: 1rem;
    font-size: 16px;
    line-height: 24px;

    p:first-child {
      margin-top: 0;
    }

    * {
      font-size: inherit;
      line-height: inherit;
    }

    @media only screen and (min-width: $screen-xs) {
      padding: 1.5rem 2rem;
    }

    @media only screen and (min-width: $screen-lg) {
      padding: 2.5rem 3rem;
    }
  }
}