.s-realized-projects {
  background-color: $bg-color;

  &__item {
    display: block;
    width: 100%;
    height: 300px;
    cursor: zoom-in;
    overflow: hidden;

    &:hover,
    &:focus {

      img {
        transform: scale(1.1);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition--more;
      transform-origin: center center;
      will-change: transform;
    }
  }

  &__footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__all-projects {
    display: inline-block;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.5rem;
      transform: translateY(-1px);
    }
  }

  .swiper-pagination {
    position: relative;
    text-align: left;
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #c4c4c4;
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $primary-color;
    opacity: 1;
  }
}