mixin realized-projects(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +realized-projects('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-realized-projects--' + modsList[i].trim();
      }
    }

  section.s-realized-projects.s-section(class=allMods)&attributes(attributes)
    .s-realized-projects__header
      .container
        h2.s-section-title Выполненные проекты
    .s-realized-projects__slider.swiper-container.s-main-slider
      .swiper-wrapper
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1556020685-ae41abfc9365?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')
            img(src='https://images.unsplash.com/photo-1556020685-ae41abfc9365?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1533044309907-0fa3413da946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')
            img(src='https://images.unsplash.com/photo-1533044309907-0fa3413da946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1532372576444-dda954194ad0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')
            img(src='https://images.unsplash.com/photo-1532372576444-dda954194ad0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1528754704377-60e053a66165?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')
            img(src='https://images.unsplash.com/photo-1528754704377-60e053a66165?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')
            img(src='https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1508061444661-5df0f7609c4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')
            img(src='https://images.unsplash.com/photo-1508061444661-5df0f7609c4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1536179247184-595913ca4a28?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80')
            img(src='https://images.unsplash.com/photo-1536179247184-595913ca4a28?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80', alt='/', title='/')
        .swiper-slide
          a.s-realized-projects__item(href='https://images.unsplash.com/photo-1519947486511-46149fa0a254?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')
            img(src='https://images.unsplash.com/photo-1519947486511-46149fa0a254?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='/', title='/')
    .s-realized-projects__footer
      .container
        .row
          .col
            .swiper-pagination
          .col-auto
            +go-to('Все работы')
