.s-project {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__cover {
    width: 100%;
    height: 240px;
    margin-bottom: 1rem;
    cursor: pointer;

    @media only screen and (min-width: $screen-sm) {
      height: 450px;
      margin-bottom: 2rem;
    }

    @media only screen and (min-width: $screen-lg) {
      height: 600px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    margin-bottom: 2rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 4rem;
    }
  }

  &__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }

  &__info-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 2rem;

    &:not(:last-child) {
      padding-right: 80px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__info-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
  }

  &__project-desc {

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__gallery {
    margin-bottom: 2rem;
  }

  &__gallery-filter {
    margin-bottom: 1rem;
  }

  &__gallery-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }

  &__gallery-filter-item {
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &__gallery-list {
    list-style: none;

    @media only screen and (min-width: $screen-sm) {
      margin-left: -1px;
      margin-right: -1px;
    }
  }

  &__gallery-item {
    margin: 0;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2px;
      padding-left: 1px;
      padding-right: 1px;
    }
  }

  &__gallery-card {
    display: block;
    cursor: zoom-in;
    overflow: hidden;
    position: relative;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: ($aspect-ratio) * 100%;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        linear-gradient(to bottom,
          hsla(0, 0%, 0%, 0),
          ease-in-out,
          hsla(0, 0%, 0%, 0.5));
      opacity: 1;
      transition: $transition--more;
    }

    &:hover,
    &:focus {

      &::after {
        opacity: 0;
      }

      img {
        transform: scale(1.1);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition--more;
      transform-origin: center center;
      will-change: transform;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &--interior {

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: ($aspect-ratio--interior) * 100%;
      }
    }
  }

  &__gallery-card-title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    z-index: 2;
    margin: 0;
  }
}