mixin mobile-menu()

  .s-mobile-menu
    .container

      .s-mobile-menu__header
        +logo('/').s-mobile-menu__logo
          img(src='img/logo--icon.svg', alt='/', width='60', height='60')
        button.s-mobile-menu__close
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 101 101', widht='20', height='20')
            path(fill='#000', d='M99.0769 1.39771c-1.3889-1.39697764-3.4722-1.39697764-4.8611 0L50.2343 45.6352 6.48427 1.39771c-1.38889-1.39697764-3.47223-1.39697764-4.86111 0-1.388894 1.39697-1.388894 3.49243 0 4.8894L45.3732 50.5246 1.39167 94.5292c-1.3888862 1.397-1.3888862 3.4925 0 4.8894.69445.6984 1.62037.9314 2.5463.9314.92593 0 1.85185-.233 2.5463-.9314L99.0769 6.28711c1.1571-1.16414 1.1571-3.49243 0-4.8894z')
            path(fill='#000', d='M71.2991 66.5898c-1.3889-1.397-3.4722-1.397-4.8611 0-1.3889 1.397-1.3889 3.4924 0 4.8894l27.7777 27.9394c.6945.6984 1.6204.9314 2.5463.9314.926 0 1.8519-.233 2.5463-.9314 1.3887-1.3969 1.3887-3.4924 0-4.8894L71.2991 66.5898z')

      form.s-mobile-menu__search
        input(type='search', placeholder='Быстрый поиск')

      .s-mobile-menu__nav
        ul
          li: a(href='/') Архитектура
          li: a(href='/') Дизайн интерьеров
          li: a(href='/') Ландшафтный дизайн
          li: a(href='/') Декорирование
          li: a(href='/') Консультации
          li: a(href='projects.html') Проекты
          li: a(href='about-company.html') О компании
          li: a(href='blogs.html') Блоги
          li: a(href='testimonials.html') Отзывы
          li: a(href='/') Партнеры
          li: a(href='news.html') Новости
          li: a(href='faq.html') FAQ
          li: a(href='/') Контакты
          li: button(type='button', data-toggle='modal', data-target='#exampleModal') Обратная связь

      +social().s-mobile-menu__social