.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  background-color: #fff;
  color: $text-color;
  will-change: transform;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);

  &__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($text-color, 0.125);
  }

  &__logo {

    img {

      @media only screen and (max-width: ($screen-sm - 1)) {
        width: 45px;
        height: 45px;
      }
    }
  }

  &__close {
    display: block;
    position: relative;
    color: $text-color;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    padding: 0;

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      display: block;
      vertical-align: middle;
      fill: currentColor;
    }
  }

  &__search {
    margin-bottom: 1rem;

    input {
      min-width: auto;
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0 1rem 0 3rem;
      font-family: inherit;
      border: 1px solid rgba($text-color, 0.125);
      border-radius: 2px;
      background-color: rgba($text-color, 0.075);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23acb2c1; fill-rule: evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath id='search_light_' data-name='search %5Blight%5D' class='cls-1' d='M15.85 15.85a.5.5 0 0 1-.7 0l-5.02-5.07a.5.5 0 0 1 0-.71.5.5 0 0 1 .7 0l5.02 5.07a.5.5 0 0 1 0 .71zM6.23 0A6.25 6.25 0 1 1 0 6.25 6.242 6.242 0 0 1 6.23 0zm0 .99A5.26 5.26 0 1 1 .99 6.25 5.256 5.256 0 0 1 6.23.99z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 1rem 50%;
    }
  }

  &__nav {
    padding: 1rem 0;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @media only screen and (min-width: $screen-sm) {
        column-count: 2;
        column-gap: 0;
      }

      @media only screen and (min-width: $screen-md) {
        column-count: 4;
      }

      > li {
        margin: 0 0 0.25rem 0;
        padding: 0 0.5rem 0 0;

        > a,
        button {
          padding: 0;
          color: currentColor;
          opacity: 0.75;
        }
      }
    }
  }

  &__social {
    color: $primary-color;
    padding: 1rem 0;
    border-top: 1px solid rgba($text-color, 0.125);

    .s-social__item {
      margin-left: 0;
      margin-right: 1.5rem;
    }
  }

  &--is-open {
    transform: translate3d(0, 0, 0);
  }
}