.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 15px 20px 17px;
  border-radius: $border-radius;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all $transition;

  @media only screen and (max-width: ($screen-sm - 1)) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $primary-color--darken;
    box-shadow: $box-shadow;
    color: #fff;
    text-decoration: none;
  }

  &--bg-white {
    background-color: #fff;
    color: $primary-color;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $primary-color;
      color: #fff;
    }
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}