mixin video-testimonial(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +video-testimonial('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-video-testimonial--' + modsList[i].trim();
      }
    }

  .s-video-testimonial.embed-responsive.embed-responsive-4by3(class=allMods)&attributes(attributes)
    iframe.embed-responsive-item(src='https://www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen='')
    //- video(poster='https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg', playsinline='', muted='', autoplay='')
    //-   source(src='http://thenewcode.com/assets/videos/polina.webm', type='video/webm')
    //-   source(src='http://thenewcode.com/assets/videos/polina.mp4', type='video/mp4')
