mixin how-we-work(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +how-we-work('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-how-we-work--' + modsList[i].trim();
      }
    }

  article.s-how-we-work.s-section(class=allMods)&attributes(attributes)
    .s-how-we-work__header
      .container
        h2.s-section-title Как строится работа
    .s-tabs
      .s-tabs__nav
        .container
          ul.s-tabs__list.nav.nav-tabs(role='tablist')
            li.s-tabs__item.nav-item
              a#first-step-tab.s-tabs__link.nav-link.active(
                data-toggle='tab',
                href='#first-step',
                role='tab',
                aria-controls='first-step',
                aria-selected='true')
                span 1.
                | Встреча
            li.s-tabs__item.nav-item
              a#second-step-tab.s-tabs__link.nav-link(
                data-toggle='tab',
                href='#second-step',
                role='tab',
                aria-controls='second-step',
                aria-selected='false')
                span 2.
                | ТЗ + Обмеры
            li.s-tabs__item.nav-item
              a#third-step-tab.s-tabs__link.nav-link(
                data-toggle='tab',
                href='#third-step',
                role='tab',
                aria-controls='third-step',
                aria-selected='false')
                span 3.
                | Планы
            li.s-tabs__item.nav-item
              a#fourth-step-tab.s-tabs__link.nav-link(
                data-toggle='tab',
                href='#fourth-step',
                role='tab',
                aria-controls='fourth-step',
                aria-selected='false')
                span 4.
                | Визуализации
            li.s-tabs__item.nav-item
              a#fifth-step-tab.s-tabs__link.nav-link(
                data-toggle='tab',
                href='#fifth-step',
                role='tab',
                aria-controls='fifth-step',
                aria-selected='false')
                span 5.
                | Рабочие чертежи
            li.s-tabs__item.nav-item
              a#sixth-step-tab.s-tabs__link.nav-link(
                data-toggle='tab',
                href='#sixth-step',
                role='tab',
                aria-controls='sixth-step',
                aria-selected='false')
                span 6.
                | Выдача проекта
      .s-tabs__content.tab-content
        #first-step.tab-pane.fade.show.active(
          role='tabpanel',
          aria-labelledby='first-step-tab')
          .s-how-we-work__step
            .s-how-we-work__step-cover
              img(src='https://images.unsplash.com/photo-1567457399160-08d6ee75ac86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='/')
            .s-how-we-work__step-info
              .container
                .row
                  .col-12.col-lg-6
                    .s-how-we-work__step-info-inner(aria-step-number='1')
                      h3.s-how-we-work__subtitle Встреча
                      p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
        #second-step.tab-pane.fade(
          role='tabpanel',
          aria-labelledby='second-step-tab')
          .s-how-we-work__step
            .s-how-we-work__step-cover
              img(src='https://images.unsplash.com/photo-1567457399160-08d6ee75ac86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='/')
            .s-how-we-work__step-info
              .container
                .row
                  .col-12.col-lg-6
                    .s-how-we-work__step-info-inner(aria-step-number='2')
                      h3.s-how-we-work__subtitle Техническое задание
                      p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
        #third-step.tab-pane.fade(
          role='tabpanel',
          aria-labelledby='third-step-tab')
          .s-how-we-work__step
            .s-how-we-work__step-cover
              img(src='https://images.unsplash.com/photo-1567457399160-08d6ee75ac86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='/')
            .s-how-we-work__step-info
              .container
                .row
                  .col-12.col-lg-6
                    .s-how-we-work__step-info-inner(aria-step-number='3')
                      h3.s-how-we-work__subtitle Планировки
                      p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
        #fourth-step.tab-pane.fade(
          role='tabpanel',
          aria-labelledby='fourth-step-tab')
          .s-how-we-work__step
            .s-how-we-work__step-cover
              img(src='https://images.unsplash.com/photo-1567457399160-08d6ee75ac86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='/')
            .s-how-we-work__step-info
              .container
                .row
                  .col-12.col-lg-6
                    .s-how-we-work__step-info-inner(aria-step-number='4')
                      h3.s-how-we-work__subtitle Фасады
                      p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
        #fifth-step.tab-pane.fade(
          role='tabpanel',
          aria-labelledby='fifth-step-tab')
          .s-how-we-work__step
            .s-how-we-work__step-cover
              img(src='https://images.unsplash.com/photo-1567457399160-08d6ee75ac86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='/')
            .s-how-we-work__step-info
              .container
                .row
                  .col-12.col-lg-6
                    .s-how-we-work__step-info-inner(aria-step-number='5')
                      h3.s-how-we-work__subtitle Эскизный проект
                      p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
        #sixth-step.tab-pane.fade(
          role='tabpanel',
          aria-labelledby='sixth-step-tab')
          .s-how-we-work__step
            .s-how-we-work__step-cover
              img(src='https://images.unsplash.com/photo-1567457399160-08d6ee75ac86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='/')
            .s-how-we-work__step-info
              .container
                .row
                  .col-12.col-lg-6
                    .s-how-we-work__step-info-inner(aria-step-number='6')
                      h3.s-how-we-work__subtitle Рабочий проект
                      p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
