.s-how-we-work {
  background-color: $bg-color--shade;

  &__step {
    position: relative;
  }

  &__step-cover {
    width: 100%;
    height: 210px;
    padding-left: 15px;
    padding-right: 15px;

    @media only screen and (min-width: 576px) {
      max-width: 540px;
      margin: auto;
    }

    @media only screen and (min-width: 768px) {
      max-width: 720px;
      margin: auto;
    }

    @media only screen and (min-width: $screen-md) {
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      max-width: calc(50% - 15px);
      margin: auto;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__step-info {
    position: relative;
  }

  &__step-info-inner {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @media only screen and (min-width: $screen-md) {
      padding-top: 3rem;
      padding-bottom: 6rem;
    }

    &::before {
      position: relative;
      content: attr(aria-step-number) '.';
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $primary-color;
      display: block;

      @media only screen and (min-width: $screen-md) {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 1rem;
      }
    }
  }

  &__subtitle {
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    margin-bottom: 1rem;
  }
}