.s-faq-page {
  background-color: $bg-color--shade;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__block {
    border-top: 1px solid $text-color;
  }

  &__block-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}