.s-team {
  padding-top: 1.5rem;

  @media only screen and (min-width: $screen-lg) {
    padding-top: 0;
  }

  &__inner {
    border-top: 1px solid $text-color;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    @media only screen and (min-width: $screen-lg) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  &__slider {
    position: relative;

    .swiper-button-next {
      display: none;

      @media only screen and (min-width: $screen-xl) {
        right: -4rem;
        display: flex;
      }
    }

    .swiper-button-prev {
      display: none;

      @media only screen and (min-width: $screen-xl) {
        left: -4rem;
        display: flex;
      }
    }
  }
}