.s-field-text {
  display: block;
  margin-bottom: 25px;

  &__title {
    @include field-title;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 20px;
    padding: 10px 15px;
    font-family: inherit;
    border: 0;
    border-radius: $border-radius;
    appearance: textfield;
    background-color: rgba(#9cb3c1, 0.2);

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: 150px;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
