mixin field-text(props)

  //- Param:
    props {
      title: ''         {string}
      helpText: ''      {string}
      mods: ''          {string}
      val: ''           {string}
      attrs:            {object}
        type:           {string}
        placeholder:    {string}

  //- Use:
    +field-text({
      title: 'Title',
      helpText: 'Help Text',
      mods: '',
      val: '',
      attrs: {
        type: 'type',
        placeholder: 'placeholder',
        ... other
      }
    })

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';

    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-field-text--' + modsList[i].trim();
      }
    }

  label.s-field-text(class=allMods)&attributes(attributes)

    if (typeof(props.title) !== 'undefined' && props.title)
      span.s-field-text__title!= props.title

    span.s-field-text__input-wrap
      if (typeof(props.isTextarea) !== 'undefined' && props.isTextarea)
        textarea.s-field-text__input&attributes(props.attrs)= props.val

      else
        input.s-field-text__input(type=(typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'text', value=props.val)&attributes(props.attrs)

      if (typeof(props.helpText) !== 'undefined' && props.helpText)
        span.s-field-text__help-text!= props.helpText
      block
