//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/go-to/go-to.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/main-page/main-page.pug
include ../blocks/ask-a-question/ask-a-question.pug
include ../blocks/about-company/about-company.pug
include ../blocks/team/team.pug
include ../blocks/teammate-full-card/teammate-full-card.pug
include ../blocks/teammate-brief-card/teammate-brief-card.pug
include ../blocks/faq/faq.pug
include ../blocks/partners/partners.pug
include ../blocks/partner/partner.pug
include ../blocks/news/news.pug
include ../blocks/news-card/news-card.pug
include ../blocks/news-item/news-item.pug
include ../blocks/blogs/blogs.pug
include ../blocks/blog-card/blog-card.pug
include ../blocks/writers-blog/writers-blog.pug
include ../blocks/writers-blog-card/writers-blog-card.pug
include ../blocks/blog-data/blog-data.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/share/share.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/video-testimonial/video-testimonial.pug
include ../blocks/testimonial/testimonial.pug
include ../blocks/to-top/to-top.pug
include ../blocks/blog-item/blog-item.pug
include ../blocks/service-layout/service-layout.pug
include ../blocks/how-we-work/how-we-work.pug
include ../blocks/tabs/tabs.pug
include ../blocks/price/price.pug
include ../blocks/realized-projects/realized-projects.pug
include ../blocks/faq-item/faq-item.pug
include ../blocks/section-title/section-title.pug
include ../blocks/section/section.pug
include ../blocks/page-title/page-title.pug
include ../blocks/promo-testimonials/promo-testimonials.pug
include ../blocks/faq-page/faq-page.pug
include ../blocks/writer-card/writer-card.pug
include ../blocks/read-also/read-also.pug
include ../blocks/projects/projects.pug
include ../blocks/project-card/project-card.pug
include ../blocks/label/label.pug
include ../blocks/project/project.pug
include ../blocks/modal/modal.pug
