mixin partner(name, logo, address, phone, web, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +partner()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-partner--' + modsList[i].trim();
      }
    }


  .s-partner(class=allMods)&attributes(attributes)
    .row
      .col-12.col-md-3
        .s-partner__cover
          img(src=logo, alt='/', title='/', width='290', height='300')
      .col-12.col-md-9
        h2.s-partner__name #{name}
        p.s-partner__desc Мы делаем доступными для каждого ремонт и обустройство дома. Широкий ассортимент строительных товаров, выгодные цены в каталоге. Мы делаем доступными для каждого ремонт и обустройство дома. Широкий ассортимент строительных товаров, выгодные цены в каталоге.
        ul.s-partner__contact-list
          li.s-partner__contact-item
            +svg-icon('location', 18, 17)
            span #{address}
          li.s-partner__contact-item
            +svg-icon('phone', 18, 16)
            a(href='tel:' + phone) #{phone}
          li.s-partner__contact-item.s-partner__contact-item--website
            +svg-icon('world-wide-web', 19, 19)
            a(href=web, title='/') #{web}