.s-partner {

  &__cover {
    padding: 2rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  &__name {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 300;
  }

  &__desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1rem;
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__contact-item {
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 2rem;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1rem;

    svg {
      fill: currentColor;
      position: absolute;
      top: 2px;
      left: 0;
    }

    a {
      display: inline-block;
      color: currentColor;
    }

    &--website {
      color: $primary-color;

      svg {
        transform: translateY(-1px);
      }
    }
  }
}