.s-blog-data {

  &__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    color: $primary-color--variant;
    opacity: 0.5;
    font-size: 12px;
    line-height: 20px;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    svg {
      fill: currentColor;
      vertical-align: middle;
      margin-right: 0.25rem;
    }

    &--likes {

      svg {
        transform: translate3d(0, -2px, 0);
      }
    }

    &--comments {

      svg {
        transform: translate3d(0, 1px, 0);
      }
    }
  }

  &__num {
    vertical-align: middle;
  }
}