mixin blog-data()

  .s-blog-data&attributes(attributes)
    ul.s-blog-data__list
      li.s-blog-data__item.s-blog-data__item--likes
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15 14', width='15', height='14')
          path(d='M3.28268 5.40787H.642564C.288171 5.40787 0 5.68765 0 6.03244v7.30476c0 .3448.288171.6239.642564.6239H3.28195c.35512 0 .64257-.2798.64257-.6239V6.03244c.00072-.34479-.28672-.62457-.64184-.62457zM13.5664 5.40787H8.94767s.99695-1.13822 1.42993-2.78866c.2074-.7899-.0051-1.918226-.43661-2.376763-.41188-.438047-1.16215-.253643-1.31424.32147L8.22142 2.0992c-.15136.57441-.46282 1.09653-.89945 1.51126L5.42849 5.40787l-.18557.17946c-.04948.04239-.09315.09043-.12953.14413-.07641.11092-.1208.24375-.1208.38788v7.16916c0 .3928.3282.7114.7328.7114h4.64781c1.4569 0 2.7318-.9509 3.1073-2.3181l1.3012-4.74077c.211-.77364-.3901-1.53316-1.2153-1.53316z')
          span.s-blog-data__num 12
      li.s-blog-data__item.s-blog-data__item--views
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 18 11', width='18', height='11')
          path(d='M17.6365 5.02026C17.4808 4.81572 13.7665 0 9 0 4.23346 0 .519231 4.81572.365192 5.02026L0 5.50083l.365192.47891C.519231 6.18428 4.23346 11 9 11c4.7665 0 8.4808-4.81572 8.6365-5.02026L18 5.50083l-.3635-.48057zM9 8.43084c-1.68404 0-3.04961-1.31202-3.04961-2.93001 0-1.61799 1.36557-2.93001 3.04961-2.93001 1.6858 0 3.0513 1.31202 3.0513 2.93001 0 1.61799-1.3673 2.93001-3.0513 2.93001z')
          path(d='M8.99992 4.30854c.68538 0 1.24098.53545 1.24098 1.19229 0 .65684-.55733 1.19229-1.24098 1.19229-.68366 0-1.24096-.53545-1.24096-1.19229 0-.65851.5573-1.19229 1.24096-1.19229z')
        span.s-blog-data__num 35
      li.s-blog-data__item.s-blog-data__item--comments
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15 13', width='15', height='13')
          path(d='M12.7782 0H2.22252C.994724 0 0 .958764 0 2.14217v6.20048c0 1.18271.994724 2.14215 2.22252 2.14215h1.6707v2.3381c0 .1519.18587.2331.30422.133l2.93698-2.4711h5.64378c1.2271 0 2.2225-.95874 2.2225-2.14215V2.14217C15 .958764 14.0053 0 12.7782 0z')
        span.s-blog-data__num 0