.s-partners {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-color;
    padding: 2rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 0;
    }
  }
}