.s-tabs {

  &__nav {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__list.nav-tabs {
    border-bottom: 1px solid rgba(#9cb3c1, 0.5);
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (max-width: ($screen-md - 1)) {
      border-bottom: 0;
      overflow-x: scroll;
    }
  }

  &__item.nav-item {
    margin-left: 0;
    white-space: nowrap;

    @media only screen and (max-width: ($screen-md - 1)) {
      margin-bottom: 0;
      box-shadow: 0 1px 3px rgba($text-color, 0.075);

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  &__link.nav-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $text-color;
    padding: 0.7rem 1.125rem 0.8rem;

    @media only screen and (max-width: ($screen-md - 1)) {
      border: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-radius: 2px;
      background-color: #fff;
    }

    @media only screen and (max-width: ($screen-lg - 1)) {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding: 0.45rem 1.125rem 0.5rem;
    }

    span {
      color: #9cb3c1;
      margin-right: 0.25rem;
    }

    &.active[aria-selected='true'] {
      background-color: $primary-color;
      color: #fff;
      box-shadow: 0 1px 3px rgba($primary-color, 0.075);
      border: 1px solid rgba(#9cb3c1, 0.5);

      span {
        color: #46a7ff;
      }
    }
  }
}