mixin share()

  .s-share
    span.s-share__caption Поделиться:
    ul.s-share__list
      li.s-share__item.s-share__item--vkontakte
        a.s-share__link(href='/', title='/')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 455.731 455.731', width='24', height='24')
            path(fill='#44678d', d='M0 0h455.731v455.731H0z')
            path(fill='#fff', d='M118.06 138.69c10.922 26.972 24.764 52.402 42.995 75.231 2.418 3.038 5.466 5.739 8.677 7.938 4.69 3.221 9.115 2.089 11.022-3.276 2.017-5.63 3.868-17.04 3.978-22.952.301-15.448-.045-25.572-.875-41.001-.538-9.882-4.051-18.559-18.587-21.178-4.489-.812-4.906-4.507-2.022-8.193 6.004-7.674 14.368-8.897 23.438-9.381 14.7-.794 29.454-.146 44.172 0 5.995.055 12.026.538 17.93 1.825 7.701 1.679 11.825 7.081 13.094 14.599.657 3.878.995 7.865.903 11.789-.383 16.862-1.195 33.715-1.387 50.568-.082 6.615.401 13.395 1.816 19.837 1.98 8.978 8.093 11.232 14.344 4.745 7.938-8.239 14.937-17.51 21.506-26.926 11.935-17.127 20.849-35.923 28.523-55.303 3.969-10 7.008-12.172 17.765-12.199 20.22-.046 40.44-.064 60.66 0 3.586.018 7.336.356 10.721 1.433 5.493 1.752 7.674 6.232 6.387 11.917-3.002 13.322-10.201 24.645-17.911 35.531-12.373 17.464-25.339 34.509-38.003 51.772-1.615 2.199-3.038 4.544-4.362 6.925-4.736 8.559-4.407 13.358 2.5 20.484 10.995 11.342 22.766 21.953 33.414 33.605 7.738 8.477 14.9 17.674 21.032 27.355 7.756 12.245 2.965 23.778-11.524 25.831-9.115 1.287-53.641.01-55.942 0-11.971-.054-22.464-4.206-30.914-12.336-9.398-9.051-17.939-18.979-26.963-28.423-2.719-2.847-5.621-5.575-8.75-7.957-7.382-5.63-14.627-4.38-18.076 4.289-2.947 7.446-5.493 26.999-5.612 28.669-.62 8.732-6.177 14.298-15.959 14.836-28.24 1.533-55.605-1.615-81.098-15.274-21.607-11.57-38.861-27.93-53.807-47.009-23.742-30.304-42.495-63.615-59.616-97.904-.875-1.753-18.216-38.653-18.682-40.396-1.549-5.836-.104-11.411 4.827-13.33 3.074-1.196 60.248-.004 61.199.047 9.123.494 15.344 4.343 19.187 13.812z')

      li.s-share__item.s-share__item--facebook
        a.s-share__link(href='/', title='/')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 455.73 455.73', width='24', height='24')
            path(fill='#3a559f', d='M0 0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893 35.582-79.475 79.475-79.475h62.025v64.622h-44.382c-13.947 0-25.254 11.307-25.254 25.254v49.953h68.521l-9.47 71.864h-59.051V455.73H455.73V0H0z')

      li.s-share__item.s-share__item--twitter
        a.s-share__link(href='/', title='/')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 455.731 455.731', width='24', height='24')
            path(fill='#50abf1', d='M0 0h455.731v455.731H0z')
            path(fill='#fff', d='M60.377 337.822c30.33 19.236 66.308 30.368 104.875 30.368 108.349 0 196.18-87.841 196.18-196.18 0-2.705-.057-5.39-.161-8.067 3.919-3.084 28.157-22.511 34.098-35 0 0-19.683 8.18-38.947 10.107-.038 0-.085.009-.123.009 0 0 .038-.019.104-.066 1.775-1.186 26.591-18.079 29.951-38.207 0 0-13.922 7.431-33.415 13.932-3.227 1.072-6.605 2.126-10.088 3.103-12.565-13.41-30.425-21.78-50.25-21.78-38.027 0-68.841 30.805-68.841 68.803 0 5.362.617 10.581 1.784 15.592-5.314-.218-86.237-4.755-141.289-71.423 0 0-32.902 44.917 19.607 91.105 0 0-15.962-.636-29.733-8.864 0 0-5.058 54.416 54.407 68.329 0 0-11.701 4.432-30.368 1.272 0 0 10.439 43.968 63.271 48.077 0 0-41.777 37.74-101.081 28.885l.019.005z')

      li.s-share__item.s-share__item--telegram
        a.s-share__link(href='/', title='/')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 455.731 455.731', width='24', height='24')
            path(fill='#61a8de', d='M0 0h455.731v455.731H0z')
            path(fill='#fff', d='M358.844 100.6L54.091 219.359c-9.871 3.847-9.273 18.012.888 21.012l77.441 22.868 28.901 91.706c3.019 9.579 15.158 12.483 22.185 5.308l40.039-40.882 78.56 57.665c9.614 7.057 23.306 1.814 25.747-9.859l52.031-248.76c2.548-12.185-9.44-22.337-21.039-17.817zm-38.208 55.206L179.08 280.984c-1.411 1.248-2.309 2.975-2.519 4.847l-5.45 48.448c-.178 1.58-2.389 1.789-2.861.271l-22.423-72.253c-1.027-3.308.312-6.892 3.255-8.717l167.163-103.676c3.844-2.386 7.78 2.906 4.391 5.902z')
