.s-share {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__caption {
    color: $primary-color--variant;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
  }

  &__link {
    display: block;

    svg {
      display: block;
    }
  }
}