mixin blog-card(image, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +news-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-blog--' + modsList[i].trim();
      }
    }

  article.s-blog-card(class=allMods)&attributes(attributes)
    a.s-blog-card__cover(href='/')
      img(src=image, alt='/', title='/', width='320', height='210')
    a.s-blog-card__title(href='/') Закон о тишине: что нужно знать и как бороться с нарушителями
    +blog-data().s-blog-card__data
    ul.s-blog-card__info-list
      li.s-blog-card__info-item
        span Автор:
        a.s-blog-card__writer(href='/writers-blog.html') Ирина Килина
      li.s-blog-card__info-item
        time.s-blog-card__date(datetime='2020-01-12') 12 января