.s-blog-card {
  display: flex;
  flex-flow: column wrap;
  height: 100%;

  &__cover {
    width: 100%;
    height: 210px;
    display: block;
    overflow: hidden;

    &:hover,
    &:focus {

      img {
        transform: scale(1.1);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition--more;
      transform-origin: center center;
      will-change: transform;
    }
  }

  &__title {
    color: $primary-color;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 0.5rem;
    display: block;
    text-decoration: underline;
    padding-top: 0.5rem;

    &:hover,
    &:focus {
      color: $primary-color--darken;
    }
  }

  &__data {
    margin-top: auto;
  }

  &__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-top: 0.5rem;
  }

  &__info-item {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__writer {
    text-decoration: underline;
    display: inline-block;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__date {
    display: inline-block;
    color: $primary-color--variant;
    font-size: 12px;
    font-weight: 400;
  }
}