.s-page-footer {
  background-color: $text-color;
  color: #fff;

  &__top {
    padding: 40px 0;

    @media only screen and (max-width: ($screen-sm - 1)) {
      padding: 25px 0;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 32px;
    opacity: 0.3;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
  }

  &__group {
    font-size: 14px;
    line-height: 20px;

    @media only screen and (max-width: ($screen-sm - 1)) {
      border-bottom: 1px solid rgba(#fff, 0.2);
      margin-bottom: 25px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        margin-bottom: 25px;

        a {
          display: inline-block;
          color: currentColor;
        }
      }
    }

    &--contacts {
      line-height: 25px;

      ul {

        li {
          position: relative;
          padding-left: 35px;

          a {
            display: block;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }

          svg {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 5px;
            left: 0;
          }
        }
      }
    }

    &--work-schedule {

      ul {

        li {
          position: relative;

          &:not(:last-child) {

            &::after {
              position: absolute;
              content: '';
              left: 0;
              bottom: -13px;
              width: 33px;
              height: 1px;
              background-color: #fff;
              opacity: 0.2;
            }
          }
        }
      }
    }

    &--bank-account-details {

      @media only screen and (max-width: ($screen-sm - 1)) {
        padding-bottom: 25px;
      }

      .s-btn {

        @media only screen and (max-width: ($screen-sm - 1)) {
          width: 100%;
        }
      }
    }

    &--copyright {

      @media only screen and (max-width: ($screen-sm - 1)) {
        border-bottom: 0;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
        line-height: 20px;

        a {
          color: currentColor;
          text-decoration: underline;
          white-space: nowrap;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__bottom {
    padding: 20px 0;
    border-top: 1px solid rgba(#fff, 0.2);

    @media only screen and (min-width: $screen-sm) {
      padding: 40px 0;
    }
  }

  &__nav {
    flex-basis: auto;
    word-break: normal;
    white-space: nowrap;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;

      > li {
        margin: 0;
        padding: 0;
        padding-right: 20px;

        @media only screen and (max-width: ($screen-sm - 1)) {
          margin-bottom: 20px;
        }

        > a {
          color: currentColor;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          display: inline-block;
          margin-bottom: 20px;
          position: relative;
          text-decoration: none;

          @media only screen and (max-width: ($screen-sm - 1)) {
            margin-bottom: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: currentColor;
            transform: scaleX(1);
            transition: transform 0.375s cubic-bezier(0.6, 0, 0, 1);
            transform-origin: left center;
            opacity: 0.5;
          }

          &:hover,
          &:focus {
            text-decoration: none;

            &::after {
              transform: scaleX(0);
              transform-origin: right center;
            }
          }
        }

        > ul {
          margin: 0;
          padding: 0;
          list-style: none;

          @media only screen and (max-width: ($screen-sm - 1)) {
            margin-bottom: 0;
          }

          @media only screen and (max-width: ($screen-lg - 1)) {
            margin-bottom: 40px;
          }

          > li {
            margin: 0;
            padding: 0;

            &:not(:last-child) {
              margin-bottom: 5px;
            }

            > a {
              display: inline-block;
              color: currentColor;
              font-size: 13px;
              line-height: 20px;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                bottom: 1px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: currentColor;
                transform: scaleX(1);
                transition: transform 0.375s cubic-bezier(0.6, 0, 0, 1);
                transform-origin: left center;
                opacity: 0.5;
              }

              &:hover,
              &:focus {
                text-decoration: none;

                &::after {
                  transform: scaleX(0);
                  transform-origin: right center;
                }
              }
            }
          }
        }
      }
    }
  }

  &__social {
    margin-left: 60px;

    .s-social__item {

      &:first-child {
        margin-left: 0;
      }
    }

    @media only screen and (max-width: ($screen-lg - 1)) {
      margin-left: 0;
      padding-top: 25px;
      border-top: 1px solid rgba(#fff, 0.2);
    }
  }
}