mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .s-page-footer__top
        .row
          .col-md-6.col-lg-4.col-xl-3
            .s-page-footer__group.s-page-footer__group--contacts
              h3.s-page-footer__subtitle Контакты
              ul
                li
                  +svg-icon('location', 18, 17)
                  address
                    | г. Санкт-Петербург,
                    br
                    | ул. Автовская, д. 17
                li
                  +svg-icon('email', 18, 15)
                  a(href='mailto:info@author-s.ru', title='/') info@author-s.ru
                li
                  +svg-icon('phone', 18, 16)
                  a(href='tel:+78126476379') +7 (812) 647-63-79
                  a(href='tel:+79119238984') +7 (911) 923-89-84
          .col-md-6.col-lg-4.col-xl-3
            .s-page-footer__group.s-page-footer__group--work-schedule
              h3.s-page-footer__subtitle Время работы
              ul
                li
                  | Пн Вт Ср Чт Пт
                  br
                  | 09:00 – 18:00
                li
                  | Сб Вс
                  br
                  | Выходной
          .col-md-6.col-lg-4.col-xl-3
            .s-page-footer__group.s-page-footer__group--bank-account-details
              h3.s-page-footer__subtitle Наши реквизиты
              ul
                li ИНН: 7805654337 / КПП: 780501001
                li ОГРН: 1177748467898
              +btn('Получить консультацию', 'bg-white')(href='/', title='/')
          .col-md-6.col-lg-12.col-xl-3
            .s-page-footer__group.s-page-footer__group--copyright
              p © Архитектурная студия “Автор”, 2014-2019.
              p
                | Все права защищены. Любое использование либо копирование материалов или подборки материалов сайта, элементов дизайна и оформления допускается лишь с разрешения правообладателя и только со ссылкой на источник:
                a(href='http://http://author-s.ru/', title='/') http://author-s.ru/
              p
                | Заполняя любую форму на сайте, вы соглашаетесь с
                a(href='/', title ='/') политикой конфиденциальности

      .s-page-footer__bottom
        .s-page-footer__nav
          ul.row
            li.col-12.col-sm
              a(href='/', title='/') Услуги
              ul
                li: a(href='/', title='/') Архитектура
                li: a(href='/', title='/') Дизайн интерьеров
                li: a(href='/', title='/') Ландшафтный дизайн
                li: a(href='/', title='/') Декорирование
                li: a(href='/', title='/') Консультации
            li.col-12.col-sm: a(href='/', title='/') Проекты
            li.col-12.col-sm
              a(href='/', title='/') О компании
              ul
                li: a(href='/', title='/') Отзывы
                li: a(href='/', title='/') Блоги
                li: a(href='/', title='/') Партнёры
            li.col-12.col-sm: a(href='/', title='/') Новости
            li.col-12.col-sm: a(href='/', title='/') FAQ
            li.col-12.col-sm: a(href='/', title='/') Контакты
            li.col-12.col-sm: a(href='/', title='/') Обратная связь
            li.col-12.col-xl
              +social().s-page-footer__social