.s-section-title {
  font-weight: 300;
  line-height: 1.2em;
  font-size: 28px;
  margin: 0;
  margin-bottom: 1rem;

  @media only screen and (min-width: $screen-sm) {
    font-size: 36px;
    margin-bottom: 2rem;
  }
}