mixin service-layout(title, image, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +service-layout('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-service-layout--' + modsList[i].trim();
      }
    }

  main.s-service-layout
    section.s-service-layout__promo
      .s-service-layout__promo-content
        .container
          h1.s-page-title #{title}
          .s-service-layout__promo-actions
            a.s-service-layout__to-projects(href='/') Наши проекты
            +btn('Получить консультацию')
      .s-service-layout__promo-cover
        img(src=image, alt='/')
    .s-service-layout__intro
      .container
        +breadcrumb()
          +breadcrumb-item('Главная', '/index.html')
          +breadcrumb-item('Услуги')
          +breadcrumb-item(title)
        .row
          .col-12.col-lg-9
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
    block