.s-service-layout {

  &__promo {
    position: relative;
    background-color: rgba(#000, 0.3);
    color: #fff;
  }

  &__promo-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      background-color: rgba(#000, 0.3);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__promo-content {
    min-height: 360px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    z-index: 2;
  }

  &__promo-actions {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }

  &__to-projects {
    display: inline-block;
    font-size: 26px;
    line-height: 32px;
    color: currentColor;
    position: relative;
    margin-bottom: 1.5rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.25s cubic-bezier(0.6, 0, 0, 1);
      transform-origin: left center;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }

  &__intro {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}