.s-main-page {

  &__slide {
    background-color: #668eb6;
    color: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: ($screen-sm - 1)) {
      height: auto;
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: ($screen-sm - 1)) {
      position: relative;
      height: 50vh;
      order: 1;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 40% 10%;
      pointer-events: none;
    }
  }

  &__project {
    z-index: 2;
    position: absolute;
    background-color: #fff;
    color: $text-color;
    bottom: 0;
    left: 0;
    max-width: 860px;
    width: 100%;
    padding: 0 75px 70px 66px;
    will-change: transform;
    transition: all 0.5s cubic-bezier(0.6, 0, 0, 1);
    transform: translate3d(0,calc(100% - 110px),0);

    @media only screen and (max-width: ($screen-sm - 1)) {
      padding: 1rem;
      transform: none;
      position: relative;
      order: 2;
    }

    &--is-open {
      transform: none;
    }
  }

  &__project-name {
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 27px 0 0 0;
    padding: 0 0 25px 0;

    @media only screen and (max-width: ($screen-sm - 1)) {
      font-size: 20px;
      line-height: 26px;
      margin: 0;
    }
  }

  &__project-data-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    line-height: 24px;
  }

  &__project-data-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 28px;

    &:not(:last-child) {
      padding-right: 80px;
    }
  }

  &__project-data-term {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__project-desc {
    padding-top: 20px;
    border-top: 1px solid $border-color;

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all $transition;
    color: $primary-color;

    &::after {
      position: absolute;
      content: '';
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: -20px;
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}