.s-teammate-brief-card {

  &__cover {
    width: 100%;
    height: 400px;

    @media only screen and (min-width: $screen-xs) {
      height: 300px;
    }

    @media only screen and (min-width: $screen-sm) {
      height: 400px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__intro {
    border-bottom: 1px solid $border-color;
    padding: 1rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 1rem;
      text-align: center;
    }
  }

  &__name {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__position {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    display: block;
  }

  &__additional {
    padding: 1rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 1rem;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &__education {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
}