mixin ask-a-question(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +ask-a-question('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-ask-a-question' + modsList[i].trim();
      }
    }

  section.s-ask-a-question.s-section(class=allMods)&attributes(attributes)
    .container
      .row
        .col.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
          h2.s-section-title Хотите сотрудничать или задать вопрос?
          +form()
            .row
              .col-12
                +field-text({
                  title: 'Ваше имя',
                  attrs: {
                    placeholder: '',
                    type: 'text',
                    id: 'name'
                  }
                })(for='name')
              .col-12.col-md-6
                +field-text({
                  title: 'Email',
                  attrs: {
                    placeholder: '',
                    type: 'mail',
                    id: 'mail'
                  }
                })(for='email')
              .col-12.col-md-6
                +field-text({
                  title: 'Телефон',
                  attrs: {
                    placeholder: '',
                    type: 'tel',
                    id: 'tel'
                  }
                })(for='phone')
              .col-12
                +field-text({
                  title: 'Комментарий',
                  isTextarea: true,
                  attrs: {
                    placeholder: '',
                    id: 'question'
                  }
                })(for='question')
              .col-12
                +field-actions()
                  +btn('Оправить')
