.s-label {
  background-color: rgba(#9cb2c1, 0.1);
  color: #4c6e83;
  font-size: 18px;
  line-height: 24px;
  padding: 0.5rem 1.25rem;
  border-radius: 20px;
  display: inline-block;
  transition: all $transition;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: rgba(#9cb2c1, 0.25);
  }

  &--small {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 10px;
  }
}