mixin label(text, tag, mods)

  //- Param:
    text  {string} - label text
    mods  {string} - modifiers
    tag   {string} - a or span or div

  //- Usage:
    +label('Text', 'a')(href='/')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-label--' + modsList[i].trim();
      }
    }

  if(typeof(tag) !== 'undefined' && tag)
    #{tag}.s-label(class=allMods)&attributes(attributes)!= text
      block
  else
    span.s-label(class=allMods)&attributes(attributes)!= text
