.s-page-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 1rem;
  color: currentColor;

  @media only screen and (min-width: $screen-sm) {
    margin-bottom: 2rem;
    font-size: 36px;
    line-height: 42px;
  }
}