mixin faq-item(target, title)

  button(
    type='button',
    data-toggle='collapse',
    data-target='#' + target,
    aria-expanded='false',
    aria-controls=target
  ).s-faq__question
    span #{title}
    +svg-icon('arrow-small', 10, 17)
  .collapse(id=target)
    .s-faq__answer Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione non libero modi voluptatum temporibus. Accusantium quibusdam repellat vero, quo itaque assumenda libero quae voluptates neque at pariatur repellendus ipsa molestiae et in. Nihil quos voluptatum accusamus exercitationem, soluta deleniti eius sunt ducimus dignissimos sint. Mollitia repellat iste ipsa consectetur, obcaecati quibusdam distinctio at exercitationem saepe! Nostrum laborum earum impedit molestiae.