.s-projects {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    position: relative;

    @media only screen and (min-width: $screen-md) {
      flex-flow: row wrap;

      &.sub-menu-is-open {
        margin-bottom: 7rem;
      }
    }

    li {
      list-style: none;
      margin: 0;
      margin-bottom: 1rem;

      @media only screen and (min-width: $screen-md) {
        margin-right: 1rem;
      }
    }

    a {
      background-color: rgba(#9cb2c1, 0.1);
      color: #4c6e83;
      font-size: 18px;
      line-height: 24px;
      padding: 0.5rem 1.25rem;
      border-radius: 20px;
      display: inline-block;
      transition: all $transition;
      display: block;

      &:hover,
      &:focus,
      &.is-active {
        text-decoration: none;
        background-color: rgba(#9cb2c1, 0.25);
      }
    }

    .children {
      display: none;
      visibility: hidden;
      opacity: 0;
      margin: 1rem 0 0 0;

      @media only screen and (min-width: $screen-md) {
        margin: 0;
        top: 100%;
        left: 0;
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        width: 100%;
        z-index: 100;
      }

      > li {

        &:last-child {
          margin-bottom: 0;
        }

        > a {
          text-decoration: none;
          background-color: rgba(#9cb2c1, 0.25);
        }
      }

      &.is-open {
        visibility: visible;
        opacity: 1;
        display: block;

        @media only screen and (min-width: $screen-md) {
          display: flex;
        }
      }
    }
  }

  &__filter-item {
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;

    @media only screen and (min-width: $screen-sm) {
      margin-left: -1px;
      margin-right: -1px;
    }
  }

  &__item {
    margin: 0;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2px;
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}