.s-testimonial {
  background-color: #fff;
  padding: 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 2rem;
  }

  &__header {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid $border-color;
  }

  &__quotee-name {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  &__quotee-desc {
    font-size: 14px;
    line-height: 20px;
    color: $primary-color--variant;
  }

  &__text {

    p {
      font-size: 14px;
      line-height: 20px;
    }

    p:first-child {
      margin-top: 0;
    }
  }

  &__more-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0;
    color: $primary-color;
    position: relative;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &--full {

    @media only screen and (min-width: $screen-xl) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;

      .s-testimonial__header {
        flex: 0 0 25%;
        max-width: 25%;
      }

      .s-testimonial__text {
        flex: 0 0 75%;
        max-width: 75%;
      }
    }
  }
}