mixin testimonial(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +testimonial('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-testimonial--' + modsList[i].trim();
      }
    }

  if mods === 'full, collapsed'
    article.s-testimonial(class=allMods)&attributes(attributes)
      header.s-testimonial__header
        h3.s-testimonial__quotee-name Олег Арутюнов
        p.s-testimonial__quotee-desc
          | ООО “Финский Дом”
          br
          | Генеральный директор
      .s-testimonial__text
        p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem.
        #more.collapse.s-testimonial__more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem.

        button.s-testimonial__more-btn(type='button', data-toggle='collapse', data-target='#more', aria-expanded='false', aria-controls='more') Посмотреть полностью

  else
    article.s-testimonial(class=allMods)&attributes(attributes)
      header.s-testimonial__header
        h3.s-testimonial__quotee-name Олег Арутюнов
        p.s-testimonial__quotee-desc
          | ООО “Финский Дом”
          br
          | Генеральный директор
      .s-testimonial__text
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolore dolores rerum temporibus nobis necessitatibus! Optio, minima numquam totam labore sint consequuntur eos dicta quo, aperiam aut laboriosam nisi. Hic ducimus ipsum consectetur nam rem blanditiis inventore eos sequi nulla facere, non, ullam id amet nihil perferendis earum quidem error.