extends pug/layout.pug

block meta
  - var title = 'О компании';
  title= title
  meta(name='description', content='')

block content
  section.s-about-company
    .s-about-company__inner
      .s-about-company__cover
        img(src='img/about-company-cover.jpg', alt='/', title='/', width='320', height='300')
      .s-about-company__content
        .container
          .row
            .col.col-xl-6.offset-xl-6
              h1.s-page-title О компании
              p.s-about-company__desc Основной принцип в нашей работе — это комплексный подход и создание гармоничного пространства, которое начинается с фасада дома и заканчивается элементами декора. Мы продумываем каждую деталь в архитектуре, интерьере и ландшафте так, чтобы созданные нами проекты дарили комфорт и радость на протяжение многих лет. Мы всегда открыты новым идеям и технологиям, внимательно следим за развитием рынка домостроения и современных материалов. Производим авторский надзор и всегда несем ответственность за свою работу! Высокое качество и соблюдение сроков — это два непременных достоинства нашей студии. Именно они позволили упрочить нашу репутацию и заслужить доверие заказчиков. Спустя годы мы получаем от них благодарности и любуемся построенными домами и реализованными дизайн-проектами!

  section.s-team
    .container
      .s-team__inner
        h2.s-section-title Команда
        .s-teammate-full-card
          .row
            .col-12.col-md-5.order-md-2
              .s-teammate-full-card__cover
                img(src='img/teammate-ceo.jpg', alt='/', title='/', width='290', height='390')
            .col-12.col-md-7.order-md-1
              .s-teammate-full-card__content
                .s-teammate-full-card__header
                  .s-teammate-full-card__intro
                    h3.s-teammate-full-card__name Денис Коршунов
                    p.s-teammate-full-card__desc
                      | Главный архитектор проектов
                      br
                      | Руководитель архитектурной студии “Автор”
                  +go-to('Блог Дениса')
                .s-teammate-full-card__info
                  .s-teammate-full-card__education
                    h4.s-teammate-full-card__subtitle Образование:
                    p Пензенский государственный архитектурно-строительный колледж, специальность «Архитектура» (1991-1995)
                    p Пензенская государственная архитектурно-строительная академия, специальность «Архитектура» (1995 – 2001)
                  .s-teammate-full-card__experience
                    h4.s-teammate-full-card__subtitle Опыт работы:
                    p Стаж работы главным архитектором более 10 лет.
                    p Автор более 150 проектов загородных домов и коттеджей.
        .s-teammate-full-card
          .row
            .col-12.col-md-5.order-md-2
              .s-teammate-full-card__cover
                img(src='img/teammate-architect-designer.jpg', alt='/', title='/', width='290', height='390')
            .col-12.col-md-7.order-md-1
              .s-teammate-full-card__content
                .s-teammate-full-card__header
                  .s-teammate-full-card__intro
                    h3.s-teammate-full-card__name Ирина Килина
                    p.s-teammate-full-card__desc
                      | Архитектор-дизайнер
                      br
                      | Руководитель направления “Дизайн интерьера”
                  +go-to('Блог Ирины')
                .s-teammate-full-card__info
                  .s-teammate-full-card__education
                    h4.s-teammate-full-card__subtitle Образование:
                    p Новосибирская архитектурно-художественная академия, направление «Архитектура» специальность «Дизайн архитектурной среды» (1998-2004)
                  .s-teammate-full-card__experience
                    h4.s-teammate-full-card__subtitle Опыт работы:
                    p Более 10 лет
        .s-team__slider
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .s-teammate-brief-card
                  .s-teammate-brief-card__cover
                    img(src='img/teammate-olga.jpg', alt='/', title='/', width='290', height='400')
                  .s-teammate-brief-card__intro
                    h3.s-teammate-brief-card__name Ольга Коновалова
                    span.s-teammate-brief-card__position Дизайнер
                  .s-teammate-brief-card__additional
                    h4.s-teammate-brief-card__subtitle Образование:
                    p.s-teammate-brief-card__education Забайкальский государственный гуманитарно-педагогический университет им. Н.Г. Чернышевского, бакалавр дизайна
                    p.s-teammate-brief-card__education Санкт-Петербургский государственный университет технологии и дизайна, магистр дизайна
              .swiper-slide
                .s-teammate-brief-card
                  .s-teammate-brief-card__cover
                    img(src='img/teammate-ilya.jpg', alt='/', title='/', width='290', height='400')
                  .s-teammate-brief-card__intro
                    h3.s-teammate-brief-card__name Илья Башаров
                    span.s-teammate-brief-card__position Архитектор
                  .s-teammate-brief-card__additional
                    h4.s-teammate-brief-card__subtitle Образование:
                    p.s-teammate-brief-card__education Санкт-Петербургский государственный архитектурно-строительный университет
              .swiper-slide
                .s-teammate-brief-card
                  .s-teammate-brief-card__cover
                    img(src='img/teammate-kate.jpg', alt='/', title='/', width='290', height='400')
                  .s-teammate-brief-card__intro
                    h3.s-teammate-brief-card__name Екатерина Дудкина
                    span.s-teammate-brief-card__position Дизайнер
                  .s-teammate-brief-card__additional
                    h4.s-teammate-brief-card__subtitle Образование:
                    p.s-teammate-brief-card__education Санкт-Петербургский государственный университет промышленной технологии и дизайна
              .swiper-slide
                .s-teammate-brief-card
                  .s-teammate-brief-card__cover
                    img(src='img/teammate-olga.jpg', alt='/', title='/', width='290', height='400')
                  .s-teammate-brief-card__intro
                    h3.s-teammate-brief-card__name Ольга Коновалова
                    span.s-teammate-brief-card__position Дизайнер
                  .s-teammate-brief-card__additional
                    h4.s-teammate-brief-card__subtitle Образование:
                    p.s-teammate-brief-card__education Забайкальский государственный гуманитарно-педагогический университет им. Н.Г. Чернышевского, бакалавр дизайна
                    p.s-teammate-brief-card__education Санкт-Петербургский государственный университет технологии и дизайна, магистр дизайна
              .swiper-slide
                .s-teammate-brief-card
                  .s-teammate-brief-card__cover
                    img(src='img/teammate-ilya.jpg', alt='/', title='/', width='290', height='400')
                  .s-teammate-brief-card__intro
                    h3.s-teammate-brief-card__name Илья Башаров
                    span.s-teammate-brief-card__position  Архитектор
                  .s-teammate-brief-card__additional
                    h4.s-teammate-brief-card__subtitle Образование:
                    p.s-teammate-brief-card__education Санкт-Петербургский государственный архитектурно-строительный университет
              .swiper-slide
                .s-teammate-brief-card
                  .s-teammate-brief-card__cover
                    img(src='img/teammate-kate.jpg', alt='/', title='/', width='290', height='400')
                  .s-teammate-brief-card__intro
                    h3.s-teammate-brief-card__name Екатерина Дудкина
                    span.s-teammate-brief-card__position Дизайнер
                  .s-teammate-brief-card__additional
                    h4.s-teammate-brief-card__subtitle Образование:
                    p.s-teammate-brief-card__education Санкт-Петербургский государственный университет промышленной технологии и дизайна
          .swiper-button-next
          .swiper-button-prev

  +promo-testimonials()
  +ask-a-question()
  +to-top()

block footer
  +page-footer()