extends pug/layout.pug

block meta
  - var title = 'Блоги';
  title= title
  meta(name='description', content='')

block content
  section.s-blogs
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('О компании', '/about-company.html')
        +breadcrumb-item('Блоги')
      h1.s-page-title Блоги
      ul.s-blogs__list.row
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1543917283-ac338e892fed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1556804624-e72b2a9e1e7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1538729737466-d4ea35e17af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1543917283-ac338e892fed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1556804624-e72b2a9e1e7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1538729737466-d4ea35e17af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1543917283-ac338e892fed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1556804624-e72b2a9e1e7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-blogs__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1538729737466-d4ea35e17af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')

      +pagination()
        +pagination-item-prev('/')
        +pagination-item('1', '', true)
        +pagination-item('2', '/2')
        +pagination-item('3', '/3')
        +pagination-item('4', '/4')
        +pagination-item('5', '/5')
        +pagination-item('6', '/6')
        +pagination-item-next('/')

  +to-top()

block footer
  +page-footer()