extends pug/layout.pug

block meta
  - var title = 'Статья Автора';
  title= title
  meta(name='description', content='')

block content
  section.s-blog-item
    .container
      .row
        .col-12
          +breadcrumb()
            +breadcrumb-item('Главная', '/index.html')
            +breadcrumb-item('О компании', '/about-company.html')
            +breadcrumb-item('Блоги', '/blogs.html')
            +breadcrumb-item('Блог Ирины', '/writers-blog.html')
            +breadcrumb-item('Статья Ирины')
      .row
        .col-12.col-md-9.col-lg-8
          h1.s-page-title Сад с лесным массивом: как объединить лес и участок
          ul.s-blog-item__data-list
            li.s-blog-item__data-item
              +blog-data().s-blog-item__blog-data
            li.s-blog-item__data-item
              time.s-blog-item__date(datetime='2020-01-12') 12 января 2019
            li.s-blog-item__data-item
              +share().s-blog-item__share
          .s-blog-item__content
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

            .s-blog-item__image-wrap
              img(src='https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80', alt='/', title='/')

            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

            ul
              li Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии.
              li Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов.
              li Помогают нам создавать проекты в любых стилевых направлениях.

            blockquote В процессе работы над проектом учитывается множество факторов, влияющих на архитектурное решение: географическое расположение участка для строительства, рельеф местности и геология грунтов

            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

            ol
              li Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии.
              li Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов.
              li Помогают нам создавать проекты в любых стилевых направлениях.

            h2 Индивидуальная разработка проектов

            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

            h3 Рельеф местности и геология грунтов

            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

          ul.s-blog-item__data-list
            li.s-blog-item__data-item
              +blog-data().s-blog-item__blog-data
            li.s-blog-item__data-item
              time.s-blog-item__date(datetime='2020-01-12') 12 января 2019
            li.s-blog-item__data-item
              +share().s-blog-item__share

        .col-12.col-md-3.col-lg-3.offset-lg-1.col-xl-2
          +writer-card()

  section.s-read-also.s-section
    .container
      h2.s-section-title Читайте также
      ul.s-read-also__list.row
        li.s-read-also__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1543917283-ac338e892fed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-read-also__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1556804624-e72b2a9e1e7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-read-also__item.col-12.col-md-6.col-lg-4
          +blog-card('https://images.unsplash.com/photo-1538729737466-d4ea35e17af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')

  +to-top()

block footer
  +page-footer()