extends pug/layout.pug

block meta
  - var title = 'Декорирование';
  title= title
  meta(name='description', content='')

block content
  +service-layout(
    title,
    'https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80'
  )
    +how-we-work()
    section.s-price.s-section
      .container
        h2.s-section-title Стоимость услуги
        .row
          .col-12.col-lg-7
            .s-price__table
              table
                tbody
                  tr
                    td Эскизный проект
                    td
                      | от
                      b  950
                      |  р./м2
                  tr
                    td До 200 м2 (эскизный проект + АС)
                    td
                      | от
                      b  3 000
                      |  р./м2
                  tr
                    td От 200 м2 до 500 м2 (эскизный проект + АС)
                    td
                      | от
                      b  2 500
                      |  р./м2
                  tr
                    td От 500 м2 (эскизный проект + АС)
                    td
                      | от
                      b  1 700
                      |  р./м2
            .s-price__actions
              +btn('Оставить заявку на проектирование')

          .col-12.col-lg-5
            .s-price__important-info
              p: b Стоимость декорирования и подбор предметов рассчитываются индивидуально
    +realized-projects()
    section.s-faq.s-section
      .container
        h2.s-section-title Часто задаваемые вопросы об архитектуре
        .row
          .col-12.col-lg-9
            .s-faq__accordion.accordion
              +faq-item('targetOne', 'С чего начинается работа по архитектурному проекту?')
              +faq-item('targetTwo', 'Какой опыт у ваших сотрудников в проектировании домов?')
              +faq-item('targetThree', 'Сколько времени занимает проектирование частного дома?')
              +faq-item('targetFour', 'Можно ли заказать проект без посещения офиса?')
              +faq-item('targetFive', 'Оказываете ли вы сопровождение при строительстве объекта?')
              +faq-item('targetSex', 'Возможно ли посмотреть образцы проектов?')

  +to-top()

block footer
  +page-footer()