extends pug/layout.pug

block meta
  - var title = 'FAQ';
  title= title
  meta(name='description', content='')

block content

  section.s-faq-page
    .container
      h1.s-page-title Часто задаваемые вопросы
      .s-faq-page__block
        .row
          .col-12.col-lg-4
            h2.s-faq-page__block-title Об индивидуальном проектировании
          .col-12.col-lg-8
            .s-faq__accordion.accordion
              +faq-item('targetOne', 'С чего начинается работа по архитектурному проекту?')
              +faq-item('targetTwo', 'Какой опыт у ваших сотрудников в проектировании домов?')
              +faq-item('targetThree', 'Сколько времени занимает проектирование частного дома?')
              +faq-item('targetFour', 'Можно ли заказать проект без посещения офиса?')
              +faq-item('targetFive', 'Оказываете ли вы сопровождение при строительстве объекта?')
              +faq-item('targetSex', 'Возможно ли посмотреть образцы проектов?')

  +ask-a-question()
  +to-top()

block footer
  +page-footer()