include pug/mixins.pug

doctype html
html(class='no-js s-page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google' value='notranslate')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    title Архитектурная студия «Автор» - разработка архитектурных проектов загородных домов, создание дизайн-проектов интерьера квартир и коттеджей
    meta(name='description', content='Архитектурная студия в Санкт-Петербурге. Индивидуальное проектирование коттеджей и загородных домов, продажа готовых проектов домов из газобетона и клееного профилированного бруса. Разработка дизайн-проектов.')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/css/lightgallery.min.css')
    link(rel='stylesheet', href='css/style.min.css')
    script.
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    include blocks/sprite-svg/img/sprite-svg.svg

    .s-page__inner
      .s-page__content
        block header
          +page-header('bg-transparent')
          +mobile-menu()
          +modal()

        block content
          .s-main-page
            .s-main-page__slider.swiper-container
              .swiper-wrapper
                .swiper-slide
                  .s-main-page__slide
                    .s-main-page__project
                      btn.s-main-page__toggle-btn
                        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 30 30', width='30', height='30')
                          path(fill='#0078E3', d='M14.091 17.1265c0-.8285-.6716-1.5-1.5-1.5H2.33794c-.82843 0-1.5.6715-1.5 1.5 0 .8284.67157 1.5 1.5 1.5h6.98535l-8.26264 8.2626c-.585789.5858-.585789 1.5355 0 2.1213.58578.5858 1.53553.5858 2.12132 0l7.90903-7.909v6.2781c0 .8284.6716 1.5 1.5 1.5s1.5-.6716 1.5-1.5v-10.253zM20.6663 11.3233h6.9854c.8284 0 1.5.6716 1.5 1.5s-.6716 1.5-1.5 1.5H17.3986c-.8284 0-1.5-.6716-1.5-1.5V2.57026c0-.82843.6716-1.5 1.5-1.5s1.5.67157 1.5 1.5v6.2781l7.909-7.90902c.5858-.585787 1.5356-.585787 2.1214 0 .5857.58579.5857 1.53553 0 2.12132l-8.2627 8.26264z')
                      h1.s-main-page__project-name Название проекта
                      ul.s-main-page__project-data-list
                        li.s-main-page__project-data-item
                          h2.s-main-page__project-data-term Тип
                          span.s-main-page__project-data-desc Кухня
                        li.s-main-page__project-data-item
                          h2.s-main-page__project-data-term Место нахождения
                          span.s-main-page__project-data-desc Дольбо-Мистассини, КК
                        li.s-main-page__project-data-item
                          h2.s-main-page__project-data-term Площадь
                          span.s-main-page__project-data-desc 2200 м2
                      .s-main-page__project-desc
                        p Да, проектов немного пока у студии, в отличии от многих других сайтов, где количество в разы превышает их качество, но зато какие они!!! Я почти уверен, что каждому, кто хоть раз побывал в каталоге студии, найдется проект по душе.
                        p Вот и мы сразу обратили внимание на проект AV314. Эта работа словно учла все наши мысли, которые мы хотели сказать проектировщикам – ребята, у нас вот такая
                    .s-main-page__cover
                      img(
                        alt='',
                        title='',
                        data-sizes='auto',
                        data-src='img/main-page-cover-768.jpg',
                        data-srcset='img/main-page-cover-320.jpg 320w, img/main-page-cover-768.jpg 768w, img/main-page-cover-1440.jpg 1440w'
                      ).lazyload
                .swiper-slide
                  .s-main-page__slide
                    .s-main-page__project
                      btn.s-main-page__toggle-btn
                        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 30 30', width='30', height='30')
                          path(fill='#0078E3', d='M14.091 17.1265c0-.8285-.6716-1.5-1.5-1.5H2.33794c-.82843 0-1.5.6715-1.5 1.5 0 .8284.67157 1.5 1.5 1.5h6.98535l-8.26264 8.2626c-.585789.5858-.585789 1.5355 0 2.1213.58578.5858 1.53553.5858 2.12132 0l7.90903-7.909v6.2781c0 .8284.6716 1.5 1.5 1.5s1.5-.6716 1.5-1.5v-10.253zM20.6663 11.3233h6.9854c.8284 0 1.5.6716 1.5 1.5s-.6716 1.5-1.5 1.5H17.3986c-.8284 0-1.5-.6716-1.5-1.5V2.57026c0-.82843.6716-1.5 1.5-1.5s1.5.67157 1.5 1.5v6.2781l7.909-7.90902c.5858-.585787 1.5356-.585787 2.1214 0 .5857.58579.5857 1.53553 0 2.12132l-8.2627 8.26264z')
                      h1.s-main-page__project-name Название проекта
                      ul.s-main-page__project-data-list
                        li.s-main-page__project-data-item
                          h2.s-main-page__project-data-term Тип
                          span.s-main-page__project-data-desc Кухня
                        li.s-main-page__project-data-item
                          h2.s-main-page__project-data-term Место нахождения
                          span.s-main-page__project-data-desc Дольбо-Мистассини, КК
                        li.s-main-page__project-data-item
                          h2.s-main-page__project-data-term Площадь
                          span.s-main-page__project-data-desc 2200 м2
                      .s-main-page__project-desc
                        p Да, проектов немного пока у студии, в отличии от многих других сайтов, где количество в разы превышает их качество, но зато какие они!!! Я почти уверен, что каждому, кто хоть раз побывал в каталоге студии, найдется проект по душе.
                        p Вот и мы сразу обратили внимание на проект AV314. Эта работа словно учла все наши мысли, которые мы хотели сказать проектировщикам – ребята, у нас вот такая
                    .s-main-page__cover
                      img(
                        alt='',
                        title='',
                        data-sizes='auto',
                        data-src='img/main-page-cover-768.jpg',
                        data-srcset='img/main-page-cover-320.jpg 320w, img/main-page-cover-768.jpg 768w, img/main-page-cover-1440.jpg 1440w'
                      ).lazyload

    block page-bottom
      script(src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js')
      script(src='https://cdn.jsdelivr.net/npm/svg4everybody@2/dist/svg4everybody.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js')
      script(src='https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/js/lightgallery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-thumbnail.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-fullscreen.min.js')
      script(src='js/main.js')

