extends pug/layout.pug

block meta
  - var title = 'Ландшафтный дизайн';
  title= title
  meta(name='description', content='')

block content
  +service-layout(
    title,
    'https://images.unsplash.com/photo-1532188978303-4bfaccc429d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'
  )
    +how-we-work()
    section.s-price.s-section
      .container
        h2.s-section-title Стоимость услуги
        .row
          .col-12.col-lg-7
            .s-price__table
              table
                tbody
                  tr
                    td Разработка ландшафтного дизайна
                    td
                      | от
                      b  2 000
                      |  р./сотка
            .s-price__actions
              .s-price__project-examples
                a(href='/') Пример проекта
              +btn('Оставить заявку на проектирование')

    +realized-projects()
    section.s-faq.s-section
      .container
        h2.s-section-title Часто задаваемые вопросы об архитектуре
        .row
          .col-12.col-lg-9
            .s-faq__accordion.accordion
              +faq-item('targetOne', 'С чего начинается работа по архитектурному проекту?')
              +faq-item('targetTwo', 'Какой опыт у ваших сотрудников в проектировании домов?')
              +faq-item('targetThree', 'Сколько времени занимает проектирование частного дома?')
              +faq-item('targetFour', 'Можно ли заказать проект без посещения офиса?')
              +faq-item('targetFive', 'Оказываете ли вы сопровождение при строительстве объекта?')
              +faq-item('targetSex', 'Возможно ли посмотреть образцы проектов?')

  +to-top()

block footer
  +page-footer()