extends pug/layout.pug

block meta
  - var title = 'Статья';
  title= title
  meta(name='description', content='')

block content
  section.s-news-item
    .container
      .row
        .col-12.col-lg-10
          +breadcrumb()
            +breadcrumb-item('Главная', '/index.html')
            +breadcrumb-item('Новости')
          .s-news-item__cover
            img(src='https://images.unsplash.com/photo-1493246318656-5bfd4cfb29b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='/', title='/', width='290', height='380')
          time.s-news-item__date(datetime='2020-01-12') 12 января
          h1.s-page-title “Красота по-итальянски”: выставка Марио Беллини в Музее архитектуры

          .s-news-item__content
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
            .s-news-item__image-wrap
              img(src='https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80', alt='/', title='/')
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
            ul
              li Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии.
              li Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов.
              li Помогают нам создавать проекты в любых стилевых направлениях.
            blockquote В процессе работы над проектом учитывается множество факторов, влияющих на архитектурное решение: географическое расположение участка для строительства, рельеф местности и геология грунтов
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
            ol
              li Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии.
              li Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов.
              li Помогают нам создавать проекты в любых стилевых направлениях.
            h2 Индивидуальная разработка проектов
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.
            h3 Рельеф местности и геология грунтов
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

          .s-news-item__slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  a(href='https://images.unsplash.com/photo-1560920452-dcdcbbb4e117?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80', title='/').s-news-item__slide
                    img(src='https://images.unsplash.com/photo-1560920452-dcdcbbb4e117?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80', alt='/', title='/', width='290', height='240')
                .swiper-slide
                  a(href='https://images.unsplash.com/photo-1559964551-e4ce00a211d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80', title='/').s-news-item__slide
                    img(src='https://images.unsplash.com/photo-1559964551-e4ce00a211d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80', alt='/', title='/', width='290', height='240')
                .swiper-slide
                  a(href='https://images.unsplash.com/photo-1560920452-aa28bff4c52f?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', title='/').s-news-item__slide
                    img(src='https://images.unsplash.com/photo-1560920452-aa28bff4c52f?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='/', title='/', width='290', height='240')
                .swiper-slide
                  a(href='https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80', title='/').s-news-item__slide
                    img(src='https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80', alt='/', title='/', width='290', height='240')
              .swiper-pagination

            .swiper-button-next
            .swiper-button-prev

          +share()

          .s-news-item__more-articles
            a.s-go-to.s-news-item__prev-article(href='/', title='/')
              +svg-icon('arrow-small', 10, 17)
              span Предыдущая новость
            a.s-go-to.s-news-item__next-article(href='/', title='/')
              span Следующая новость
              +svg-icon('arrow-small', 10, 17)

  +to-top()

block footer
  +page-footer()