extends pug/layout.pug

block meta
  - var title = 'Новости';
  title= title
  meta(name='description', content='')

block content
  section.s-news
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Новости')
      h1.s-page-title Новости
      ul.s-news__list.row
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1525872827408-db3ae470c3ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1516078077165-63049cd87007?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1560131653-63257db002c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1561310845-b77f535db1f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1538729737466-d4ea35e17af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1525872827408-db3ae470c3ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1516078077165-63049cd87007?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1560131653-63257db002c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1561310845-b77f535db1f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-news__item.col-12.col-md-6.col-lg-4
          +news-card('Consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'https://images.unsplash.com/photo-1538729737466-d4ea35e17af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')

      +pagination()
        +pagination-item-prev('/')
        +pagination-item('1', '', true)
        +pagination-item('2', '/2')
        +pagination-item('3', '/3')
        +pagination-item('4', '/4')
        +pagination-item('5', '/5')
        +pagination-item('6', '/6')
        +pagination-item-next('/')

  +to-top()

block footer
  +page-footer()