extends pug/layout.pug

block meta
  - var title = 'Партнеры';
  title= title
  meta(name='description', content='')

block content
  section.s-partners
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('О компании', '/about-company.html')
        +breadcrumb-item('Партнеры')
      h1.s-page-title Партнёры
      ul.s-partners__list
        li.s-partners__item
          +partner('Lerua Merlen', 'img/leroy-merlin.svg', 'г. Санкт-Петербург, ул. Партизана Германа, д. 2', '+78007000099', 'https://spb.leroymerlin.ru/')
        li.s-partners__item
          +partner('OBI', 'img/obi.svg', '117 км. КАД, стр.1, 188660 Ленинградская обл.', '+78123328800', 'https://spb.leroymerlin.ru/')
        li.s-partners__item
          +partner('Lerua Merlen', 'img/leroy-merlin.svg', 'г. Санкт-Петербург, ул. Партизана Германа, д. 2', '+78007000099', 'https://spb.leroymerlin.ru/')
        li.s-partners__item
          +partner('OBI', 'img/obi.svg', '117 км. КАД, стр.1, 188660 Ленинградская обл.', '+78123328800', 'https://spb.leroymerlin.ru/')

  +to-top()

block footer
  +page-footer()