extends pug/layout.pug

block meta
  - var title = 'Проект';
  title= title
  meta(name='description', content='')

block content
  section.s-project
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Проекты', '/projects.html')
        +breadcrumb-item('Квартиры', '/')
        +breadcrumb-item('Кухни', '/')
        +breadcrumb-item('Название кухни')

      h1.s-page-title Название кухни
      .s-project__cover
        img(src='https://images.unsplash.com/photo-1567176019786-370ee588da65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80', alt='', title='/', width='320', height='240')
      .s-project__info
        ul.s-project__info-list
          li.s-project__info-item
            h2.s-project__subtitle Тип
            span.s-project__info-desc Кухня
          li.s-project__info-item
            h2.s-project__subtitle Место нахождения
            span.s-project__info-desc Дольбо-Мистассини, КК
          li.s-project__info-item
            h2.s-project__subtitle Площадь
            span.s-project__info-desc 2200 м2
        .s-project__project-desc
          .row
            .col-12.col-lg-7
              h2.s-project__subtitle Описание
              p Да, проектов немного пока у студии, в отличии от многих других сайтов, где количество в разы превышает их качество, но зато какие они!!! Я почти уверен, что каждому, кто хоть раз побывал в каталоге студии, найдется проект по душе.
              p Вот и мы сразу обратили внимание на проект AV314. Эта работа словно учла все наши мысли, которые мы хотели сказать проектировщикам – ребята, у нас вот такая

      .s-project__gallery
        .s-project__gallery-filter
          ul.s-project__gallery-filter-list
            li.s-project__gallery-filter-item
              +label('Все фотографии', 'a')(href='/', title='/')
            li.s-project__gallery-filter-item
              +label('3D-визуализации', 'a')(href='/', title='/')
            li.s-project__gallery-filter-item
              +label('Процесс работ', 'a')(href='/', title='/')
            li.s-project__gallery-filter-item
              +label('Готовый объект', 'a')(href='/', title='/')
        ul.s-project__gallery-list.row
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card(href='https://images.unsplash.com/photo-1579465149332-df68fe7ee8b9?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/photo-1579465149332-df68fe7ee8b9?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card(href='https://images.unsplash.com/flagged/photo-1563891898652-e6365c19690d?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/flagged/photo-1563891898652-e6365c19690d?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card(href='https://images.unsplash.com/flagged/photo-1563891898970-7761f5919500?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/flagged/photo-1563891898970-7761f5919500?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card(href='https://images.unsplash.com/flagged/photo-1563891615758-676f3db05ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/flagged/photo-1563891615758-676f3db05ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card(href='https://images.unsplash.com/photo-1563891899105-c4f97179074e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/photo-1563891899105-c4f97179074e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card(href='https://images.unsplash.com/flagged/photo-1563891615762-0f4dfc63cc14?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/flagged/photo-1563891615762-0f4dfc63cc14?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card.s-project__gallery-card--interior(href='https://images.unsplash.com/flagged/photo-1563891615609-e2fb215c6cae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/flagged/photo-1563891615609-e2fb215c6cae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card.s-project__gallery-card--interior(href='https://images.unsplash.com/flagged/photo-1563891615459-5c7d3712741e?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/flagged/photo-1563891615459-5c7d3712741e?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption
          li.s-project__gallery-item.col-12.col-md-6.col-lg-4
            a.s-project__gallery-card.s-project__gallery-card--interior(href='https://images.unsplash.com/photo-1563891615405-43822b58f101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', title='/')
              img(src='https://images.unsplash.com/photo-1563891615405-43822b58f101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='320', height='210')
              h3.s-project__gallery-card-title Caption

      .s-section
        h2.s-section-title Индивидуальная разработка проектов
        .row
          .col-12.col-lg-8
            p Индивидуальная разработка проектов загородных домов - основное, приоритетное направление деятельности нашей архитектурной студии. Многолетний профессиональный опыт в области проектировaния частных домов и личная увлечённость профессией наших архитекторов, помогают нам создавать проекты в любых стилевых направлениях.

  +to-top()

block footer
  +page-footer()