extends pug/layout.pug

block meta
  - var title = 'Проекты';
  title= title
  meta(name='description', content='')

block content
  section.s-projects
    .container
      h1.s-page-title Проекты
      .s-projects__filter
        ul#s-new-cat__filter-list.s-projects__filter-list
          li
            a(href='/projects') Все
          li.cat-item.cat-item-35
            a(href='http://new.author-s.ru/category/projects/katalog-proektov-fotografii-postroennykh-domov/') Наши стройки
          li.cat-item.cat-item-36.current-cat
            a(aria-current='page', href='/') Каталог проектов
            ul.children
              li.cat-item.cat-item-37
                a(href='http://new.author-s.ru/category/projects/catalog-proektov/bani-besedki/') &Bcy;&acy;&ncy;&icy;, &bcy;&iecy;&scy;&iecy;&dcy;&kcy;&icy;
              li.cat-item.cat-item-38
                a(href='http://new.author-s.ru/category/projects/catalog-proektov/gazobetonnye-doma/') &Gcy;&acy;&zcy;&ocy;&bcy;&iecy;&tcy;&ocy;&ncy;&ncy;&ycy;&iecy; &dcy;&ocy;&mcy;&acy;
              li.cat-item.cat-item-39
                a(href='http://new.author-s.ru/category/projects/catalog-proektov/garazhi-navesy/') &Gcy;&acy;&rcy;&acy;&zhcy;&icy;, &ncy;&acy;&vcy;&iecy;&scy;&ycy;
              li.cat-item.cat-item-40
                a(href='http://new.author-s.ru/category/projects/catalog-proektov/derevyannye-doma/') &Dcy;&iecy;&rcy;&iecy;&vcy;&yacy;&ncy;&ncy;&ycy;&iecy; &dcy;&ocy;&mcy;&acy;
              li.cat-item.cat-item-41
                a(href='http://new.author-s.ru/category/projects/catalog-proektov/kirpichnye-doma/') &Kcy;&icy;&rcy;&pcy;&icy;&chcy;&ncy;&ycy;&iecy; &dcy;&ocy;&mcy;&acy;
              li.cat-item.cat-item-42
                a(href='http://new.author-s.ru/category/projects/catalog-proektov/kombinirovanye-doma/') &Kcy;&ocy;&mcy;&bcy;&icy;&ncy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy; &dcy;&ocy;&mcy;&acy;
          li.cat-item.cat-item-43
            a(href='/') Дизайн интерьера
            ul.children
              li.cat-item.cat-item-46
                a(href='http://new.author-s.ru/category/projects/dizajn-interera/realizovannye-dizajn-proekt/') &Rcy;&iecy;&acy;&lcy;&icy;&zcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;-&pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;
              li.cat-item.cat-item-47
                a(href='http://new.author-s.ru/category/projects/dizajn-interera/predmetnyj-dizajn/') &Pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ncy;&ycy;&jcy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;

      ul.s-projects__list.row
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/photo-1579465149332-df68fe7ee8b9?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/flagged/photo-1563891898652-e6365c19690d?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/flagged/photo-1563891898970-7761f5919500?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/flagged/photo-1563891615758-676f3db05ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/photo-1563891899105-c4f97179074e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/flagged/photo-1563891615762-0f4dfc63cc14?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/flagged/photo-1563891615609-e2fb215c6cae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'interior')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/flagged/photo-1563891615459-5c7d3712741e?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', 'interior')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/photo-1563891615405-43822b58f101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'interior')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/photo-1563891615634-8199155848cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'interior')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', 'interior')
        li.s-projects__item.col-12.col-md-6.col-lg-4
          +project-card('Project name', 'https://images.unsplash.com/photo-1531971589569-0d9370cbe1e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'interior')

  +to-top()

block footer
  +page-footer()