extends pug/layout.pug

block meta
  - var title = 'Отзывы';
  title= title
  meta(name='description', content='')

block content
  section.s-testimonials
    .container
      .s-testimonials__header.row.justify-content-between
        .col-12.col-md-auto
          h1.s-page-title Отзывы
        .col-12.col-md-auto
          +btn('Оставьте отзыв')(href='#ask-a-question', data-scroll-link='')
      ul.s-testimonials__list.row
        li.s-testimonials__item.col-12.col-lg-8.col-xl-9
          +testimonial('full, collapsed')
        li.s-testimonials__item.col-12.col-lg-4.col-xl-3
          +testimonial()
        li.s-testimonials__item.col-12.col-lg-4.col-xl-3
          +testimonial()
        li.s-testimonials__item.col-12.col-lg-8.col-xl-9
          +testimonial('full')
        li.s-testimonials__item.col-12.col-lg-6
          +testimonial('full')
        li.s-testimonials__item.col-12.col-lg-6
          +video-testimonial()
        li.s-testimonials__item.col-12.col-lg-6
          +video-testimonial()
        li.s-testimonials__item.col-12.col-lg-6
          +testimonial('full')
        li.s-testimonials__item.col-12.col-lg-4.col-xl-3
          +testimonial('full')
        li.s-testimonials__item.col-12.col-lg-8.col-xl-9
          +testimonial()
        li.s-testimonials__item.col-12.col-lg-4.col-xl-3
          +testimonial()
        li.s-testimonials__item.col-12.col-lg-8.col-xl-9
          +testimonial('full')

  +ask-a-question()(id='ask-a-question')
  +to-top()

block footer
  +page-footer()