extends pug/layout.pug

block meta
  - var title = 'Блог Автора';
  title= title
  meta(name='description', content='')

block content
  section.s-writers-blog
    .container
      .row
        .col-12.col-xl-8.offset-xl-2
          +breadcrumb()
            +breadcrumb-item('Главная', '/index.html')
            +breadcrumb-item('О компании', '/about-company.html')
            +breadcrumb-item('Блоги', '/blogs.html')
            +breadcrumb-item('Блог Ирины')
          .s-writers-blog__header
            .s-writers-blog__writer-info
              h1.s-page-title Блог Ирины Килиной
              p.s-writers-blog__writer-info Архитектор-дизайнер, Руководитель направления “Дизайн интерьера”
              span.s-writers-blog__num 53 записи
            .s-writers-blog__writer-photo
              img(src='https://images.unsplash.com/photo-1523373524209-1b5a7996e732?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='/', width='100' height='100')
          ul.s-writers-blog__list.row
            li.s-writers-blog__item.col-12
              +writers-blog-card('Рулонный газон для сада с лесным массивом', 'https://images.unsplash.com/photo-1559964551-e4ce00a211d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
            li.s-writers-blog__item.col-12
              +writers-blog-card('Сад с лесным массивом: как объединить лес и участок', 'https://images.unsplash.com/photo-1568624439818-1536c5f96ba7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')

          +pagination()
            +pagination-item-prev('/')
            +pagination-item('1', '', true)
            +pagination-item('2', '/2')
            +pagination-item('3', '/3')
            +pagination-item('4', '/4')
            +pagination-item('5', '/5')
            +pagination-item('6', '/6')
            +pagination-item-next('/')

  +to-top()

block footer
  +page-footer()