@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/subset-HelveticaNeue-Light.woff2') format('woff2'),
       url('../fonts/subset-HelveticaNeue-Light.woff') format('woff'),
       url('../fonts/subset-HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/subset-HelveticaNeue.woff2') format('woff2'),
       url('../fonts/subset-HelveticaNeue.woff') format('woff'),
       url('../fonts/subset-HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/subset-HelveticaNeue-Medium.woff2') format('woff2'),
       url('../fonts/subset-HelveticaNeue-Medium.woff') format('woff'),
       url('../fonts/subset-HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/subset-HelveticaNeue-Bold.woff2') format('woff2'),
       url('../fonts/subset-HelveticaNeue-Bold.woff') format('woff'),
       url('../fonts/subset-HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}