// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors
$text-color:                  #333;
$text-color--lighter:         lighen($text-color, 25%);
$bg-color:                    #fff;
$bg-color--shade:             #f5f7f9;
$bg-color--dark:              $text-color;
$primary-color:               #005aab;
$primary-color--darken:       darken($primary-color, 10%);
$primary-color--variant:      #6c7981;
$box-shadow:                  0 5px 15px rgba(($primary-color--darken), 0.125);
$aspect-ratio:                2/3;
$aspect-ratio--interior:      3/4;


// Misc
$border-color:                rgba($text-color, 0.1);
$border-radius:               4px;
$opacity:                     0.5;
$transition:                  0.25s cubic-bezier(0.6, 0, 0, 1);
$transition--more:            0.75s cubic-bezier(0.6, 0, 0, 1);


// Fonts
$font-family: 'Helvetica Neue',
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace:
Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
nospace;
