.s-teammate-full-card {
  margin-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    margin-bottom: 4rem;
  }

  &__cover {
    width: 100%;
    height: 390px;

    @media only screen and (min-width: $screen-sm) {
      height: 460px;
    }

    @media only screen and (min-width: $screen-md) {
      height: 100%;
      position: relative;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;

      @media only screen and (min-width: $screen-md) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__content {

    @media only screen and (min-width: $screen-md) {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
  }

  &__header {
    border-bottom: 1px solid $border-color;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__intro {
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__desc {
    font-size: 16px;
    line-height: 20px;
  }

  &__info {
    padding: 1rem 0;
    border-bottom: 1px solid $border-color;

    p {
      font-size: 16px;
      line-height: 20px;
    }

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__education {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-md) {
      padding-right: 2rem;
      max-width: 60%;
      flex: 0 0 60%;
    }
  }

  &__experience {

    @media only screen and (min-width: $screen-md) {
      max-width: 40%;
      flex: 0 0 40%;
    }
  }
}