.s-news-item {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__cover {
    width: 100%;
    height: 380px;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $primary-color--variant;
    margin-bottom: 0.5rem;
    display: block;
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__image-wrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__slider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;

    .swiper-pagination {
      margin-top: 1rem;
      position: relative;
      bottom: 0;
      display: inline-block;
      text-align: left;
    }

    .swiper-pagination-current {
      font-weight: 700;
    }

    .swiper-button-next {
      display: none;

      @media only screen and (min-width: $screen-xl) {
        right: -4rem;
        display: flex;
      }
    }

    .swiper-button-prev {
      display: none;

      @media only screen and (min-width: $screen-xl) {
        left: -4rem;
        display: flex;
      }
    }
  }

  &__slide {
    display: block;
    width: 100%;
    height: 240px;

    @media only screen and (min-width: $screen-sm) {
      height: 390px;
    }

    @media only screen and (min-width: $screen-lg) {
      height: 600px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__more-articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }

  &__prev-article {

    svg {
      transform: rotate3d(0,0,1,180deg) translate3d(0.5rem,1px,0);
    }

    &:hover,
    &:focus {

      svg {
        transform: rotate3d(0, 0, 1, 180deg) translate3d(calc(0.5rem + 4px), 1px, 0);
      }
    }
  }
}