.s-writers-blog {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4rem;
  }

  &__header {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $border-color;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  &__writer-photo {
    width: 100px;
    height: 100px;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    @media only screen and (min-width: $screen-sm) {
      margin-left: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__writer-info {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0.25rem;
  }

  &__num {
    color: $primary-color--variant;
    font-size: 14px;
    line-height: 20px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0;
  }
}