mixin project-card(name, image, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +project-card('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-project-card--' + modsList[i].trim();
      }
    }

  a.s-project-card(href='/', title='/', class=allMods)&attributes(attributes)
    h3.s-project-card__name #{name}
    .s-project-card__cover
      img(src=image, alt='/', title='/', width='320', height='210')