.s-project-card {
  display: block;
  position: relative;
  color: #fff;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($aspect-ratio) * 100%;
  }

  &:hover,
  &:focus {
    color: #fff;

    img {
      transform: scale(1.1);
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0),
          ease-in-out,
          hsla(0, 0%, 0%, 0.5));
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition--more;
      transform-origin: center center;
      will-change: transform;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__name {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
    z-index: 2;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: currentColor;
    margin: 0;
  }

  &--interior {

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: ($aspect-ratio--interior) * 100%;
    }
  }
}