mixin to-top(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +to-top()

  -
    // Modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-to-top--' + modsList[i].trim();
      }
    }

  a.s-to-top#to-top(class=allMods, href='#')&attributes(attributes)
