.s-to-top {
  position: fixed;
  z-index: 999;
  left: 2rem;
  bottom: 2rem;
  width: 58px;
  height: 58px;
  border-radius: 6px;
  background-color: #e2e4e6;
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 12'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M7.93934 1.31434c.58579-.585787 1.53553-.585787 2.12136 0l7.25 7.25c.5857.58579.5857 1.53556 0 2.12136-.5858.5857-1.5356.5857-2.1214 0L9 4.49632 2.81066 10.6857c-.58579.5857-1.53553.5857-2.12132 0-.585787-.5858-.585787-1.53557 0-2.12136l7.25-7.25z' clip-rule='evenodd' opacity='.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 11px;
  transition:
    opacity $transition,
    background-color $transition;

  &:hover,
  &:focus {
    background-color: darken(#e2e4e6, 10%);
  }

  .js & {
    opacity: 0;
    visibility: hidden;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
