.s-writer-card {

  &__photo {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;

    &::after {
      display: block;
      content: '';
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  &__position {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
  }

  &__tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }

  &__tag-item {
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}