mixin writer-card(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +writer-card('mods')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-writer-card--' + modsList[i].trim();
      }
    }

  .s-writer-card(class=allMods)&attributes(attributes)
    .s-writer-card__photo
      img(src='https://images.unsplash.com/photo-1543607875-4d92312234c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='/', title='', width='320', height='300')
    .s-writer-card__info
      a.s-writer-card__name(href='/', title='/') Ирина Килина
      p.s-writer-card__position
        | Архитектор-дизайнер
        br
        | Руководитель направления “Дизайн интерьера”
    ul.s-writer-card__tag-list
      li.s-writer-card__tag-item
        +label('Интерьер', 'a', 'small')(href='/', title='/')
      li.s-writer-card__tag-item
        +label('Архитектура', 'a', 'small')(href='/', title='/')
      li.s-writer-card__tag-item
        +label('Кабинеты', 'a', 'small')(href='/', title='/')
      li.s-writer-card__tag-item
        +label('Готовый проект', 'a', 'small')(href='/', title='/')
